{% extends 'layouts/styleguide.html' %}

{% block content %}
  <div class="page page--demo page--simple-interaction">
    <div class="hero-container">
      <div class="row">
        <div class="coll">
          <a href="index.html" class="close-screen-button">
            <span class="icon icon--senary">
              {% include 'shared/icons/icon__cross.svg.html' %}
            </span>
          </a>

          <h1 class="heading heading--large">Simple interaction</h1>
          
          <button class="bubble bubble--arrow-down ws-trigger" data-ws-el="page-contents">
            <span class="icon icon--quaternary">
              {% include 'shared/icons/icon__button-down.svg.html' %}
            </span>
          </button>
        </div>
      </div>
    </div>
    
    <div class="page-contents">
      <article class="container">
        <section class="showroom" id="button-section">
          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Buttons</h2>
            </div>
          </div>

          <div class="row center showroom-row">
            <div class="coll">
              <h3 class="subheading">Large size</h3>
            </div>
            <div class="coll   col-md-18 offset-md-9   col-lg-10 offset-lg-2">
              <div class="row">
                <div class="coll">
                  <h4 class="subtitle">Primary button</h4>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="coll">
                  <button class="button">Default button</button>
                </div>
                <div class="coll">
                  <button class="button is-active">Active button</button>
                </div>
                <div class="coll">
                  <button class="button is-disabled">Disabled button</button>
                </div>
              </div>
            </div>

            <div class="coll   col-md-18 offset-md-9   col-lg-10 offset-lg-1">
              <div class="row">
                <div class="coll">
                  <h4 class="subtitle">Secondary button</h4>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="coll">
                  <button class="button button--secondary">Default button</button>
                </div>
                <div class="coll">
                  <button class="button button--secondary is-active">Active button</button>
                </div>
                <div class="coll">
                  <button class="button button--secondary is-disabled">Disabled button</button>
                </div>
              </div>
            </div>

            <div class="coll   col-md-18 offset-md-9   col-lg-10 offset-lg-1">
              <div class="row">
                <div class="coll">
                  <h4 class="subtitle">Tertiary button</h4>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="coll">
                  <button class="button button--tertiary">Default button</button>
                </div>
                <div class="coll">
                  <button class="button button--tertiary is-active">Active button</button>
                </div>
                <div class="coll">
                  <button class="button button--tertiary is-disabled">Disabled button</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row center showroom-row">
            <div class="coll">
              <h3 class="subheading">Medium size</h3>
            </div>
            <div class="coll   col-md-18 offset-md-9   col-lg-10 offset-lg-2">
              <div class="row">
                <div class="coll">
                  <h4 class="subtitle">Primary button</h4>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="coll">
                  <button class="button button--medium">Default button</button>
                </div>
                <div class="coll">
                  <button class="button button--medium is-active">Active button</button>
                </div>
                <div class="coll">
                  <button class="button button--medium is-disabled">Disabled button</button>
                </div>
              </div>
            </div>

            <div class="coll   col-md-18 offset-md-9   col-lg-10 offset-lg-1">
              <div class="row">
                <div class="coll">
                  <h4 class="subtitle">Secondary button</h4>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="coll">
                  <button class="button button--medium button--secondary">Default button</button>
                </div>
                <div class="coll">
                  <button class="button button--medium button--secondary is-active">Active button</button>
                </div>
                <div class="coll">
                  <button class="button button--medium button--secondary is-disabled">Disabled button</button>
                </div>
              </div>
            </div>

            <div class="coll   col-md-18 offset-md-9   col-lg-10 offset-lg-1">
              <div class="row">
                <div class="coll">
                  <h4 class="subtitle">Tertiary button</h4>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="coll">
                  <button class="button button--medium button--tertiary">Default button</button>
                </div>
                <div class="coll">
                  <button class="button button--medium button--tertiary is-active">Active button</button>
                </div>
                <div class="coll">
                  <button class="button button--medium button--tertiary is-disabled">Disabled button</button>
                </div>
              </div>
            </div>
          </div>


          <div class="row center showroom-row">
            <div class="coll">
              <h3 class="subheading">Small size</h3>
            </div>
            <div class="coll   col-md-18 offset-md-9   col-lg-10 offset-lg-2">
              <div class="row">
                <div class="coll">
                  <h4 class="subtitle">Primary button</h4>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="coll">
                  <button class="button button--small">Default button</button>
                </div>
                <div class="coll">
                  <button class="button button--small is-active">Active button</button>
                </div>
                <div class="coll">
                  <button class="button button--small is-disabled">Disabled button</button>
                </div>
              </div>
            </div>

            <div class="coll   col-md-18 offset-md-9   col-lg-10 offset-lg-1">
              <div class="row">
                <div class="coll">
                  <h4 class="subtitle">Secondary button</h4>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="coll">
                  <button class="button button--small button--secondary">Default button</button>
                </div>
                <div class="coll">
                  <button class="button button--small button--secondary is-active">Active button</button>
                </div>
                <div class="coll">
                  <button class="button button--small button--secondary is-disabled">Disabled button</button>
                </div>
              </div>
            </div>

            <div class="coll   col-md-18 offset-md-9   col-lg-10 offset-lg-1">
              <div class="row">
                <div class="coll">
                  <h4 class="subtitle">Tertiary button</h4>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="coll">
                  <button class="button button--small button--tertiary">Default button</button>
                </div>
                <div class="coll">
                  <button class="button button--small button--tertiary is-active">Active button</button>
                </div>
                <div class="coll">
                  <button class="button button--small button--tertiary is-disabled">Disabled button</button>
                </div>
              </div>
            </div>
          </div>
        </section>

        




        <hr>

        




        <section class="showroom" id="tab-section">
          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Tabs</h2>
            </div>
          </div>

          <div class="row center showroom-row">
            <div class="coll   col-md-18 offset-md-9   col-lg-10 offset-lg-2">
              <div class="row">
                <div class="coll">
                  <h3 class="subheading">Primary tab</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="coll   center">
                  <button class="tab">Default tab</button>
                </div>
                <div class="coll">
                  <button class="tab is-active">Active tab</button>
                </div>
                <div class="coll">
                  <button class="tab is-disabled">Disabled tab</button>
                </div>
              </div>
            </div>

            <div class="coll   col-md-18 offset-md-9   col-lg-10 offset-lg-1">
              <div class="row">
                <div class="coll">
                  <h3 class="subheading">Secondary tab</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="coll">
                  <button class="tab tab--secondary">Default tab</button>
                </div>
                <div class="coll">
                  <button class="tab tab--secondary is-active">Active tab</button>
                </div>
                <div class="coll">
                  <button class="tab tab--secondary is-disabled">Disabled tab</button>
                </div>
              </div>
            </div>

            <div class="coll   col-md-18 offset-md-9   col-lg-10 offset-lg-1">
              <div class="row">
                <div class="coll">
                  <h3 class="subheading">Tertiary tab</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="coll   center">
                  <button class="tab tab--tertiary">Default tab</button>
                </div>
                <div class="coll">
                  <button class="tab tab--tertiary is-active">Active tab</button>
                </div>
                <div class="coll">
                  <button class="tab tab--tertiary is-disabled">Disabled tab</button>
                </div>
              </div>
            </div>
          </div>
        </section>

        




        <hr>

        




        <section class="showroom" id="link-section">
          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Links</h2>
            </div>
          </div>

          <div class="row center showroom-row">
            <div class="coll   col-36   col-md-18">
              <div class="row">
                <div class="col">
                  <h3 class="subheading">Primary link</h3>
                </div>
              </div>
              
              <div class="row showroom-row">                    
                <div class="col">
                  <a href="#">Find out more</a>
                </div>
              </div>
            </div>

            <div class="coll   col-36   col-md-18">
              <div class="row">
                <div class="col">
                  <h3 class="subheading">Secondary link</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="col">
                  <a href="#" class="link link--secondary">Find out more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row center showroom-row">
            <div class="coll   col-36   col-md-18">
              <div class="row">
                <div class="col">
                  <h3 class="subheading">Primary 'more' link</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="col">
                  <a href="#" class="more-link">
                    <span>Read more</span>
                    <span class="icon icon--secondary">
                      {% include 'shared/icons/icon__pointer-right.svg.html' %}
                    </span>
                  </a>
                </div>
              </div>
            </div>

            <div class="coll   col-36   col-md-18">
              <div class="row">
                <div class="col">
                  <h3 class="subheading">Secondary 'more' link</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="col">
                  <a href="#" class="more-link more-link--secondary">
                    <span>Read more</span>
                    <span class="icon icon--tertiary">
                      {% include 'shared/icons/icon__pointer-right.svg.html' %}
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
    </div>

    <div class="hero-container hero-container--footer">
      <div class="row">
        <div class="coll">          
          <button class="bubble bubble--arrow-up ws-trigger" data-ws-el="page">
            <span class="icon icon--quaternary">
              {% include 'shared/icons/icon__button-up.svg.html' %}
            </span>
          </button>
        </div>
      </div>
    </div>

  </div>
{% endblock %}