{% extends 'layouts/styleguide.html' %}

{% block content %}
  <div class="page page--demo page--simple-interaction">
    {{ heroContainer("tertiary", "Basic interaction") }}
    
    <div class="page-contents">
      <article class="container">
        <section class="showroom" id="button-section">
          <div class="row">
            <div class="col   col-md-28   col-lg-30 mx-auto   center">
              <h2 class="heading">Buttons</h2>
            </div>
          </div>

          <div class="row showroom-row">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                <div class="col   col-30   col-lg-22   mx-auto center">
                  <h3 class="subheading">Large buttons</h3>
                </div>
              </div>

              <div class="row showroom-row center">
                <div class="col   col-26 offset-5   col-lg-12 offset-lg-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">Primary button</h4>
                    </div>
                  </div>

                  <div class="row showroom-row">
                    <div class="col">
                      <button class="button">Default button</button>
                    </div>
                  </div>
                  <div class="row showroom-row">
                    <div class="col">
                      <button class="button is-active">Active button</button>
                    </div>
                  </div>
                  <div class="row showroom-row">  
                    <div class="col">
                      <button class="button is-disabled">Disabled button</button>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-lg-12 offset-lg-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">Secondary button</h4>
                    </div>
                  </div>

                  <div class="row showroom-row">
                    <div class="col">
                      <button class="button button--secondary">Default button</button>
                    </div>
                  </div>
                  <div class="row showroom-row">
                    <div class="col">
                      <button class="button button--secondary is-active">Active button</button>
                    </div>
                  </div>
                  <div class="row showroom-row">  
                    <div class="col">
                      <button class="button button--secondary is-disabled">Disabled button</button>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-lg-12 offset-lg-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">Tertiary button</h4>
                    </div>
                  </div>

                  <div class="row showroom-row">
                    <div class="col">
                      <button class="button button--tertiary">Default button</button>
                    </div>
                  </div>
                  <div class="row showroom-row">
                    <div class="col">
                      <button class="button button--tertiary is-active">Active button</button>
                    </div>
                  </div>
                  <div class="row showroom-row">  
                    <div class="col">
                      <button class="button button--tertiary is-disabled">Disabled button</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row showroom-row">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                <div class="col   col-30   col-lg-22   mx-auto center">
                  <h3 class="subheading">Medium buttons</h3>
                </div>
              </div>

              <div class="row showroom-row center">
                <div class="col   col-26 offset-5   col-lg-12 offset-lg-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">Primary button</h4>
                    </div>
                  </div>

                  <div class="row showroom-row">
                    <div class="col">
                      <button class="button button--medium">Default button</button>
                    </div>
                  </div>
                  <div class="row showroom-row">
                    <div class="col">
                      <button class="button button--medium is-active">Active button</button>
                    </div>
                  </div>
                  <div class="row showroom-row">  
                    <div class="col">
                      <button class="button button--medium is-disabled">Disabled button</button>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-lg-12 offset-lg-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">Secondary button</h4>
                    </div>
                  </div>

                  <div class="row showroom-row">
                    <div class="col">
                      <button class="button button--medium button--secondary">Default button</button>
                    </div>
                  </div>
                  <div class="row showroom-row">
                    <div class="col">
                      <button class="button button--medium button--secondary is-active">Active button</button>
                    </div>
                  </div>
                  <div class="row showroom-row">  
                    <div class="col">
                      <button class="button button--medium button--secondary is-disabled">Disabled button</button>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-lg-12 offset-lg-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">Tertiary button</h4>
                    </div>
                  </div>

                  <div class="row showroom-row">
                    <div class="col">
                      <button class="button button--medium button--tertiary">Default button</button>
                    </div>
                  </div>
                  <div class="row showroom-row">
                    <div class="col">
                      <button class="button button--medium button--tertiary is-active">Active button</button>
                    </div>
                  </div>
                  <div class="row showroom-row">  
                    <div class="col">
                      <button class="button button--medium button--tertiary is-disabled">Disabled button</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row showroom-row">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                <div class="col   col-30   col-lg-22   mx-auto center">
                  <h3 class="subheading">Small buttons</h3>
                </div>
              </div>

              <div class="row showroom-row center">
                <div class="col   col-26 offset-5   col-lg-12 offset-lg-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">Primary button</h4>
                    </div>
                  </div>

                  <div class="row showroom-row">
                    <div class="col">
                      <button class="button button--small">Default button</button>
                    </div>
                  </div>
                  <div class="row showroom-row">
                    <div class="col">
                      <button class="button button--small is-active">Active button</button>
                    </div>
                  </div>
                  <div class="row showroom-row">  
                    <div class="col">
                      <button class="button button--small is-disabled">Disabled button</button>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-lg-12 offset-lg-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">Secondary button</h4>
                    </div>
                  </div>

                  <div class="row showroom-row">
                    <div class="col">
                      <button class="button button--small button--secondary">Default button</button>
                    </div>
                  </div>
                  <div class="row showroom-row">
                    <div class="col">
                      <button class="button button--small button--secondary is-active">Active button</button>
                    </div>
                  </div>
                  <div class="row showroom-row">  
                    <div class="col">
                      <button class="button button--small button--secondary is-disabled">Disabled button</button>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-lg-12 offset-lg-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">Tertiary button</h4>
                    </div>
                  </div>

                  <div class="row showroom-row">
                    <div class="col">
                      <button class="button button--small button--tertiary">Default button</button>
                    </div>
                  </div>
                  <div class="row showroom-row">
                    <div class="col">
                      <button class="button button--small button--tertiary is-active">Active button</button>
                    </div>
                  </div>
                  <div class="row showroom-row">  
                    <div class="col">
                      <button class="button button--small button--tertiary is-disabled">Disabled button</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section class="showroom" id="button-section">
          <div class="row">
            <div class="col   col-md-28   col-lg-30 mx-auto   center">
              <h2 class="heading">Tabs</h2>
            </div>
          </div>

          <div class="row">
            <div class="col   col-md-28   col-lg-30 mx-auto   center">
              <h2 class="subheading">Default tabs</h2>
            </div>
          </div>

          <div class="row showroom-row center">
            <div class="col   col-26 offset-5   col-lg-12 offset-lg-0">
              <div class="row">
                <div class="col">
                  <h4 class="subtitle">Primary tab</h4>
                </div>
              </div>

              <div class="row showroom-row">
                <div class="col">
                  <button class="tab">Default tab</button>
                </div>
              </div>
              <div class="row showroom-row">
                <div class="col">
                  <button class="tab is-active">Active tab</button>
                </div>
              </div>
              <div class="row showroom-row">  
                <div class="col">
                  <button class="tab is-disabled">Disabled tab</button>
                </div>
              </div>
            </div>

            <div class="col   col-26 offset-5   col-lg-12 offset-lg-0">
              <div class="row">
                <div class="col">
                  <h4 class="subtitle">Secondary tab</h4>
                </div>
              </div>

              <div class="row showroom-row">
                <div class="col">
                  <button class="tab tab--secondary">Default tab</button>
                </div>
              </div>
              <div class="row showroom-row">
                <div class="col">
                  <button class="tab tab--secondary is-active">Active tab</button>
                </div>
              </div>
              <div class="row showroom-row">  
                <div class="col">
                  <button class="tab tab--secondary is-disabled">Disabled tab</button>
                </div>
              </div>
            </div>

            <div class="col   col-26 offset-5   col-lg-12 offset-lg-0">
              <div class="row">
                <div class="col">
                  <h4 class="subtitle">Tertiary tab</h4>
                </div>
              </div>

              <div class="row showroom-row">
                <div class="col">
                  <button class="tab tab--tertiary">Default tab</button>
                </div>
              </div>
              <div class="row showroom-row">
                <div class="col">
                  <button class="tab tab--tertiary is-active">Active tab</button>
                </div>
              </div>
              <div class="row showroom-row">  
                <div class="col">
                  <button class="tab tab--tertiary is-disabled">Disabled tab</button>
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section class="showroom" id="button-section">
          <div class="row">
            <div class="col   col-md-28   col-lg-30 mx-auto   center">
              <h2 class="heading">Links</h2>
            </div>
          </div>

          
          <div class="row">
            <div class="col   col-md-28   col-lg-30 mx-auto   center">
              <h3 class="subheading">Default links</h3>
            </div>
          </div>

          <div class="row showroom-row center">
            <div class="col   col-26 offset-5   col-lg-12 offset-lg-0">
              <div class="row">
                <div class="col">
                  <h4 class="subtitle">Primary</h4>
                </div>
              </div>

              <div class="row showroom-row">
                <div class="col">
                  <a href="#" class="link">Find out more</a>
                </div>
              </div>
            </div>

            <div class="col   col-26 offset-5   col-lg-12 offset-lg-0">
              <div class="row">
                <div class="col">
                  <h4 class="subtitle">Secondary</h4>
                </div>
              </div>

              <div class="row showroom-row">
                <div class="col">
                  <a href="#" class="link link--secondary">Find out more</a>
                </div>
              </div>
            </div>

            <div class="col   col-26 offset-5   col-lg-12 offset-lg-0">
              <div class="row">
                <div class="col">
                  <h4 class="subtitle">Tertiary</h4>
                </div>
              </div>

              <div class="row showroom-row">
                <div class="col">
                  <a href="#" class="link link--tertiary">Find out more</a>
                </div>
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col   col-md-28   col-lg-30 mx-auto   center">
              <h2 class="subheading">Links with pointer</h2>
            </div>
          </div>

          <div class="row showroom-row center">
            <div class="col   col-26 offset-5   col-lg-12 offset-lg-0">
              <div class="row">
                <div class="col">
                  <h4 class="subtitle">Primary</h4>
                </div>
              </div>

              <div class="row showroom-row">
                <div class="col">
                  <a href="#" class="more-link">
                    <span>Find out more</span>
                    <span class="icon">
                      {% include "shared/icons/icon__pointer-right.svg.html" %}
                    </span>
                  </a>
                </div>
              </div>
            </div>

            <div class="col   col-26 offset-5   col-lg-12 offset-lg-0">
              <div class="row">
                <div class="col">
                  <h4 class="subtitle">Secondary</h4>
                </div>
              </div>

              <div class="row showroom-row">
                <div class="col">
                  <a href="#" class="more-link more-link--secondary">
                    <span>Find out more</span>
                    <span class="icon">
                      {% include "shared/icons/icon__pointer-right.svg.html" %}
                    </span>
                  </a>
                </div>
              </div>
            </div>

            <div class="col   col-26 offset-5   col-lg-12 offset-lg-0">
              <div class="row">
                <div class="col">
                  <h4 class="subtitle">Tertiary</h4>
                </div>
              </div>

              <div class="row showroom-row">
                <div class="col">
                  <a href="#" class="more-link more-link--tertiary">
                    <span>Find out more</span>
                    <span class="icon">
                      {% include "shared/icons/icon__pointer-right.svg.html" %}
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
    </div>

    {{ heroContainerFooter("tertiary") }}

  </div>
{% endblock %}