{% extends 'layouts/styleguide.html' %}

{% block content %}
  <div class="page page--demo page--simple-interaction">
    {{ heroContainer("primary", "Colours") }}
    
    <div class="page-contents">
      <article class="container">
        
        <section class="showroom">
          <div class="row">
            <div class="col   col-md-28   col-lg-30 mx-auto   center">
              <h2 class="heading">Brand Colours</h2>
            </div>
          </div>

          <div class="row">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                <div class="col   col-30   col-lg-22   mx-auto center">
                  <p class="headline">The brand colours are the icing...</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row showroom-row center">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                
                <div class="col   col-26 offset-5   col-md-12 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">{{ colours.brand[0].name }}</h4>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col">
                      <div class="colour-box">
                        <div class="colour-box__colour" style="background: {{ colours.brand[0].col }}"></div>
                        
                        <div class="colour-box__text">
                          <span class="colour-box__var">
                            <span class="colour-box__val">{{ colours.brand[0].var }}</span>
                          </span>
                          <span class="colour-box__hex">
                            <span class="colour-box__val">{{ colours.brand[0].col }}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-md-12 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">{{ colours.brand[1].name }}</h4>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col">
                      <div class="colour-box">
                        <div class="colour-box__colour" style="background: {{ colours.brand[1].col }}"></div>
                        
                        <div class="colour-box__text">
                          <span class="colour-box__var">
                            <span class="colour-box__val">{{ colours.brand[1].var }}</span>
                          </span>
                          <span class="colour-box__hex">
                            <span class="colour-box__val">{{ colours.brand[1].col }}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-md-12 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">{{ colours.brand[2].name }}</h4>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col">
                      <div class="colour-box">
                        <div class="colour-box__colour" style="background: {{ colours.brand[2].col }}"></div>
                        
                        <div class="colour-box__text">
                          <span class="colour-box__var">
                            <span class="colour-box__val">{{ colours.brand[2].var }}</span>
                          </span>
                          <span class="colour-box__hex">
                            <span class="colour-box__val">{{ colours.brand[2].col }}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                <div class="col   col-26 offset-5  col-md-24 offset-md-0">
                  <p>The brand colours are here to add a brand feel to the colour scheme. The top 3 most brand true colours from the brand's colour palette will make the site unique.</p>
                  <p>The brand colours are used in <a href="basic-interaction.html#link-section">links</a>, <a href="icons.html#brand-colours">icons</a>, <a href="basic-interaction.html#button-section">buttons</a>, <a href="basic-interaction.html#tab-section">tabs</a>.</p>
                </div>
              </div>
            </div> 
          </div>
        </section>

        <hr>

        <section class="showroom">
          <div class="row">
            <div class="col   col-md-28   col-lg-30 mx-auto   center">
              <h2 class="heading">Base Colours</h2>
            </div>
          </div>

          <div class="row">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                <div class="col   col-30   col-lg-22   mx-auto center">
                  <p class="headline">...the base colours are the cake</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row center">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                <div class="col   col-26 offset-5   col-md-12 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">{{ colours.base[0].name }}</h4>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col">
                      <div class="colour-box">
                        <div class="colour-box__colour" style="background: {{ colours.base[0].col }}"></div>
                        
                        <div class="colour-box__text">
                          <span class="colour-box__var">
                            <span class="colour-box__val">{{ colours.base[0].var }}</span>
                          </span>
                          <span class="colour-box__hex">
                            <span class="colour-box__val">{{ colours.base[0].col }}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-md-12 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">{{ colours.base[1].name }}</h4>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col">
                      <div class="colour-box">
                        <div class="colour-box__colour" style="background: {{ colours.base[1].col }}"></div>
                        
                        <div class="colour-box__text">
                          <span class="colour-box__var">
                            <span class="colour-box__val">{{ colours.base[1].var }}</span>
                          </span>
                          <span class="colour-box__hex">
                            <span class="colour-box__val">{{ colours.base[1].col }}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-md-12 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">{{ colours.base[2].name }}</h4>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col">
                      <div class="colour-box">
                        <div class="colour-box__colour" style="background: {{ colours.base[2].col }}"></div>
                        
                        <div class="colour-box__text">
                          <span class="colour-box__var">
                            <span class="colour-box__val">{{ colours.base[2].var }}</span>
                          </span>
                          <span class="colour-box__hex">
                            <span class="colour-box__val">{{ colours.base[2].col }}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col   col-md-34   mx-auto">
              <div class="row showroom-row">
                <div class="col   col-26 offset-5   col-md-12 offset-md-0">
                  <div class="row center">
                    <div class="col">
                      <h4 class="subtitle">{{ colours.base[3].name }}</h4>
                    </div>
                  </div>
                  
                  <div class="row center">
                    <div class="col">
                      <div class="colour-box">
                        <div class="colour-box__colour colour-box__colour--light" style="background: {{ colours.base[3].col }}"></div>
                        
                        <div class="colour-box__text">
                          <span class="colour-box__var">
                            <span class="colour-box__val">{{ colours.base[3].var }}</span>
                          </span>
                          <span class="colour-box__hex">
                            <span class="colour-box__val">{{ colours.base[3].col }}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-md-24 offset-md-0">
                  <p class="push-down">The base colours (as the name implies) provide the base foundation to the site's colour scheme. These 4 colours (ranging from black through dark and lighter gray to white) are used to create a well contrast and legible typographic hierarchy.</p>
                  <p>The base colours are used in <a href="basic-interaction.html#link-section">links</a>, <a href="icons.html#brand-colours">icons</a>, <a href="basic-interaction.html#button-section">buttons</a>, <a href="basic-interaction.html#tab-section">tabs</a>.</p>
                </div>
              </div>


            </div>
          </div>
        </section>

        <hr>

        <section class="showroom">
          <div class="row">
            <div class="col   col-md-28   col-lg-30 mx-auto   center">
              <h2 class="heading">Feedback Colours</h2>
            </div>
          </div>

          <div class="row">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                <div class="col   col-30   col-lg-22   mx-auto center">
                  <p class="headline">The following 3 colours are allocated for giving the user feedback on form input validation results and warnings</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row showroom-row center">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                <div class="col   col-26 offset-5   col-md-12 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subheading">{{ colours.feedback[0].name }}</h4>
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col">
                      <div class="colour-box">
                        <div class="colour-box__colour" style="background: {{ colours.feedback[0].col }}"></div>
                        
                        <div class="colour-box__text">
                          <span class="colour-box__var">
                            <span class="colour-box__val">{{ colours.feedback[0].var }}</span>
                          </span>
                          <span class="colour-box__hex">
                            <span class="colour-box__val">{{ colours.feedback[0].col }}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-md-12 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subheading">{{ colours.feedback[1].name }}</h4>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col">
                      <div class="colour-box">
                        <div class="colour-box__colour" style="background: {{ colours.feedback[1].col }}"></div>
                        
                        <div class="colour-box__text">
                          <span class="colour-box__var">
                            <span class="colour-box__val">{{ colours.feedback[1].var }}</span>
                          </span>
                          <span class="colour-box__hex">
                            <span class="colour-box__val">{{ colours.feedback[1].col }}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-md-12 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subheading">{{ colours.feedback[2].name }}</h4>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col">
                      <div class="colour-box">
                        <div class="colour-box__colour" style="background: {{ colours.feedback[2].col }}"></div>
                        
                        <div class="colour-box__text">
                          <span class="colour-box__var">
                            <span class="colour-box__val">{{ colours.feedback[2].var }}</span>
                          </span>
                          <span class="colour-box__hex">
                            <span class="colour-box__val">{{ colours.feedback[2].col }}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                <div class="col   col-26 offset-5  col-md-24 offset-md-0">
                  <p>The feedback colours on the palette are allocated for user feedback - mostly used in forms.</p>
                  <p>The base colours are used in forms to give the user feedback on <a href="forms.html">validation status</a>, and the <a href="interactive-components.html#cookie-message-section">cookie message component</a> uses the warning colour to seek the user's attention.</p>
                </div>
              </div>
            </div> 
          </div>
        </section>

        <hr>

        <section class="showroom">
          <div class="row">
            <div class="col   col-md-28   col-lg-30 mx-auto   center">
              <h2 class="heading">Social Media Colours</h2>
            </div>
          </div>

          <div class="row">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                <div class="col   col-18   col-md-20   col-lg-16   mx-auto center">
                  <p class="headline">There are 5 colours allocated for the major social media sharing platforms</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row showroom-row center">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                
                <div class="col   col-26 offset-5   col-md-12 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">{{ colours.social[0].name }}</h4>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col">
                      <div class="colour-box colour-box--long">
                        <div class="colour-box__colour" style="background: {{ colours.social[0].col }}"></div>
                        
                        <div class="colour-box__text">
                          <span class="colour-box__var">
                            <span class="colour-box__val">{{ colours.social[0].var }}</span>
                          </span>
                          <span class="colour-box__hex">
                            <span class="colour-box__val">{{ colours.social[0].col }}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-md-12 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">{{ colours.social[1].name }}</h4>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col">
                      <div class="colour-box colour-box--long">
                        <div class="colour-box__colour" style="background: {{ colours.social[1].col }}"></div>
                        
                        <div class="colour-box__text">
                          <span class="colour-box__var">
                            <span class="colour-box__val">{{ colours.social[1].var }}</span>
                          </span>
                          <span class="colour-box__hex">
                            <span class="colour-box__val">{{ colours.social[1].col }}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-md-12 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">{{ colours.social[2].name }}</h4>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col">
                      <div class="colour-box colour-box--long">
                        <div class="colour-box__colour" style="background: {{ colours.social[2].col }}"></div>
                        
                        <div class="colour-box__text">
                          <span class="colour-box__var">
                            <span class="colour-box__val">{{ colours.social[2].var }}</span>
                          </span>
                          <span class="colour-box__hex">
                            <span class="colour-box__val">{{ colours.social[2].col }}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col   col-26 offset-5   col-md-12 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">{{ colours.social[3].name }}</h4>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col">
                      <div class="colour-box colour-box--long">
                        <div class="colour-box__colour" style="background: {{ colours.social[3].col }}"></div>
                        
                        <div class="colour-box__text">
                          <span class="colour-box__var">
                            <span class="colour-box__val">{{ colours.social[3].var }}</span>
                          </span>
                          <span class="colour-box__hex">
                            <span class="colour-box__val">{{ colours.social[3].col }}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-md-12 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">{{ colours.social[4].name }}</h4>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col">
                      <div class="colour-box colour-box colour-box--long">
                        <div class="colour-box__colour" style="background: {{ colours.social[4].col }}"></div>
                        
                        <div class="colour-box__text">
                          <span class="colour-box__var">
                            <span class="colour-box__val">{{ colours.social[4].var }}</span>
                          </span>
                          <span class="colour-box__hex">
                            <span class="colour-box__val">{{ colours.social[4].col }}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                <div class="col   col-26 offset-5  col-md-24 offset-md-0">
                  <p>These colours are primarily used by the <a href="interactive-components.html#social-links-section">social media links</a>, and the <a href="interactive-components.html#social-sharing-section">sharing buttons</a>. You should not use these colours for other purposes to avoid confusing the user.</p>
                </div>
              </div>
            </div> 
          </div>

        </section>
      </article>
    </div>

    {{ heroContainerFooter() }}

  </div>
{% endblock %}