{% extends 'layouts/styleguide.html' %}

{% block content %}
  <div class="page page--demo page--grid">
    {{ heroContainer("secondary", "Grid") }}

    <div class="page-contents">
      <article class="container">            
        <section>
          <div class="row">
            <div class="col center">
              <h2 class="heading">Blog post page</h2>
            </div>
          </div>

          <div class="row">
            <div class="col   col-lg-36   visible-grid">
              <div class="row">
                <div class="col   col-lg-36">12 columns</div>
              </div>
              <div class="row">
                <div class="col   col-lg-36">
                  <div class="row">
                    <div class="col   col-lg-26 offset-lg-5">
                      8 columns (nested within 12)
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col   col-lg-30 mx-auto">10 columns</div>
              </div>
              <div class="row">
                <div class="col   col-lg-26 mx-auto">8 columns</div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="row">
            <div class="col center">
              <h2 class="heading">Mail form section</h2>
            </div>
          </div>
          <div class="row visible-grid">
            <div class="col   col-32 mx-auto   col-md-30">
              <div class="row">
                <div class="col   col-md-30 mx-md-auto   col-lg-16 offset-lg-4">
                  4 columns (nested within 10)  
                </div>
                <div class="col   col-md-30 mx-md-auto   col-lg-10 offset-lg-2">
                  2.5 columns (nested within 10)  
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="row">
            <div class="col center">
              <h2 class="heading">Blog teaser section</h2>
            </div>
          </div>

          <div class="row">
            <div class="col   col-lg-36   visible-grid">
              <div class="row">
                <div class="col   col-lg-36">
                  12 columns
                </div>
              </div>

              <div class="row">
                <div class="col   col-lg-32 mx-auto">
                  11 columns
                </div>
              </div>


              <div class="row">
                <div class="col   col-lg-10 offset-lg-2">
                  3 columns
                </div>

                <div class="col   col-lg-10 offset-lg-1">
                  3 columns
                </div>

                <div class="col   col-lg-10 offset-lg-1">
                  3 columns
                </div>
              </div>
            </div>
          </div>              
        </section>

        <section>
          <div class="row">
            <div class="col center">
              <h2 class="heading">Blog thumbnails section</h2>
            </div>
          </div>

          <div class="row">
            <div class="container">
              <div class="row visible-grid">
                <div class="col   col-36 offset-0   col-md-30 offset-md-3   col-lg-10 offset-lg-2">
                  3 columns
                </div>

                <div class="col   col-36 offset-0   col-md-30 offset-md-3   col-lg-10 offset-lg-1">
                  3 columns
                </div>

                <div class="col   col-36 offset-0   col-md-30 offset-md-3   col-lg-10 offset-lg-1">
                  3 columns
                </div>
              </div>

              <div class="row visible-grid">
                <div class="col   col-36 offset-0   col-md-30 offset-md-3   col-lg-10 offset-lg-2">
                  3 columns
                </div>

                <div class="col   col-36 offset-0   col-md-30 offset-md-3   col-lg-10 offset-lg-1">
                  3 columns
                </div>

                <div class="col   col-36 offset-0   col-md-30 offset-md-3   col-lg-10 offset-lg-1">
                  3 columns
                </div>
              </div>

              <div class="row visible-grid">
                <div class="col   col-36 offset-0   col-md-30 offset-md-3   col-lg-10 offset-lg-2">
                  3 columns
                </div>

                <div class="col   col-36 offset-0   col-md-30 offset-md-3   col-lg-10 offset-lg-1">
                  3 columns
                </div>

                <div class="col   col-36 offset-0   col-md-30 offset-md-3   col-lg-10 offset-lg-1">
                  3 columns
                </div>
              </div>

              <div class="row visible-grid">
                <div class="container">
                  <br>
                  <div class="row">
                    <div class="col   col-md-10 offset-md-3   col-lg-10 offset-lg-2">
                      Prev page
                    </div>

                    <div class="col   col-md-10 offset-md-0   col-lg-10 offset-lg-1">
                      1 of 17
                    </div>

                    <div class="col   col-md-10 offset-md-0   col-lg-10 offset-lg-1">
                      Next page
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="row">
            <div class="col center">
              <h2 class="heading">Blog teaser example (no nesting)</h2>
            </div>
          </div>


          <div class="row">
            <div class="container visible-grid">
              <div class="row">
                <div class="col   col-lg-36">
                  12 columns
                </div>
              </div>

              <div class="row">
                <div class="col   col-lg-32 mx-auto">
                  11 columns
                </div>
              </div>


              <div class="row">
                <div class="col   col-lg-10 offset-lg-2">
                  3 columns
                </div>

                <div class="col   col-lg-10 offset-lg-1">
                  3 columns
                </div>

                <div class="col   col-lg-10 offset-lg-1">
                  3 columns
                </div>
              </div>
            </div>
          </div>
        </section>

      </article>
    </div>

    {{ heroContainerFooter("secondary") }}
    
  </div>

{% endblock %}