{% extends 'layouts/styleguide.html' %}

{% block content %}
  <div class="page page--demo">
    <div class="hero-container hero-container--tertiary">
      <div class="row">
        <div class="coll">
          <a href="index.html" class="close-screen-button">
            {{ sprite('x--white', classes='icon') }}
          </a>

          <h1 class="heading heading--large">Icons</h1>
          
          <button class="bubble bubble--arrow-down ws-trigger" data-ws-el="page-contents">
            {{ sprite('button-up', classes='icon') }}
          </button>
        </div>
      </div>
    </div>
    
    <div class="page-contents">
      <article class="container">
        <section class="showroom" id="icons-section">
          <div class="row">
            <div class="coll col-30 offset-3   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Icons</h2>
            </div>
          </div>

          <div class="row">
            <div class="coll   col-30 offset-3   col-lg-24 offset-lg-6 center">
              {% include 'shared/components/svg-sprites.html' %}
            </div>
          </div>
        </section>
      </article>
    </div>

    <div class="hero-container hero-container--tertiary hero-container--footer">
      <div class="row">
        <div class="coll">          
          <button class="bubble bubble--arrow-up ws-trigger" data-ws-el="page">
            {{ sprite('button-up', classes='icon') }}
          </button>
        </div>
      </div>
    </div>

  </div>
{% endblock %}