{% extends 'layouts/styleguide.html' %}

{% block content %}
  <div class="page page--demo page--inline-svg">
    {{ heroContainer("primary", "Icons") }}
    
    <div class="page-contents">
      <article class="container">
        
        <section class="showroom icons-wrapper">
          <div class="row">
            <div class="col   col-md-28   col-lg-30 mx-auto   center">
              <h2 class="heading">Default icons</h2>
            </div>
          </div>

          <div class="row">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                <div class="col   col-30   col-lg-22   mx-auto center">
                  <p class="headline">The app uses inline SVGs, because they are super easy to colour from CSS</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row showroom-row center">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                <div class="col center">
                  <h3 class="subheading">Directions</h4>
                </div>
              </div>

              <div class="row showroom-row">
                <div class="col   col-26 offset-5   col-md-18 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">Arrows</h4>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="icons">
                        <span class="icon">
                          {% include "shared/icons/icon__arrow-up.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__arrow-right.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__arrow-down.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__arrow-left.svg.html" %}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-md-18 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">Pointers</h4>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="icons">
                        <span class="icon">
                          {% include "shared/icons/icon__pointer-up.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__pointer-right.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__pointer-down.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__pointer-left.svg.html" %}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row showroom-row">
                <div class="col   col-26 offset-5   col-md-18 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">Triangle</h4>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="icons">
                        <span class="icon">
                          {% include "shared/icons/icon__triangle-up.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__triangle-right.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__triangle-down.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__triangle-left.svg.html" %}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-md-18 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">Bubble</h4>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="icons">
                        <span class="icon">
                          {% include "shared/icons/icon__button-up.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__button-right.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__button-down.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__button-left.svg.html" %}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>

          <div class="row showroom-row center">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                <div class="col center">
                  <h3 class="subheading">Social media</h4>
                </div>
              </div>

              <div class="row showroom-row">
                <div class="col   col-26 offset-5   col-md-18 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">Button</h4>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="icons">
                        <span class="icon">
                          {% include "shared/icons/icon__button-facebook.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__button-twitter.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__button-linkedin.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__button-google-plus.svg.html" %}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col   col-26 offset-5   col-md-18 offset-md-0">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">Active button</h4>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="icons">
                        <span class="icon">
                          {% include "shared/icons/icon__button-facebook-active.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__button-twitter-active.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__button-linkedin-active.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__button-google-plus-active.svg.html" %}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row showroom-row">
                <div class="col   col-26 offset-5   col-md-18 offset-md-9">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">Links</h4>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="icons">
                        <span class="icon">
                          {% include "shared/icons/icon__facebook.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__twitter.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__linkedin.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__instagram.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__google-plus.svg.html" %}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row showroom-row center">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                <div class="col center">
                  <h3 class="subheading">Miscellanious</h4>
                </div>
              </div>

              <div class="row showroom-row">
                <div class="col   col-26 offset-5   col-md-18 offset-md-9">
                  <div class="row">
                    <div class="col">
                      <h4 class="subtitle">Random</h4>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="icons">
                        <span class="icon">
                          {% include "shared/icons/icon__play.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__expand.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__success.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__failure.svg.html" %}
                        </span>
                        <span class="icon">
                          {% include "shared/icons/icon__cross.svg.html" %}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section class="showroom icons-wrapper">
          <div class="row">
            <div class="col   col-md-28   col-lg-30 mx-auto   center">
              <h2 class="heading">Colour themes</h2>
            </div>
          </div>

          <div class="row">
            <div class="col   col-md-34   mx-auto">
              <div class="row">
                <div class="col   col-30   col-lg-22   mx-auto center">
                  <p class="headline">The app uses inline SVGs, because they are super easy to colour from CSS</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row showroom-row">
            <div class="col   col-34   mx-auto">
              <div class="row showroom-row">
                <div class="col   col-30 offset-3  col-lg-12 offset-lg-0">
                  <h3 class="subheading" id="brand-colours">Brand colours</h3>
                  <p>The top 3 colours from the brand's colour palette.</p>
                </div>
                <div class="col   col-30 offset-3   col-lg-24 offset-lg-0">
                  <div class="row">
                    <div class="col">
                      {% set styles = ["primary", "secondary", "tertiary"] %}
                      {% for style in styles %}
                        {% set icon_class = "icon icon--" + style %}
                        {% set icon_wrapper_class = "icons" %}
                        {% include "styleguide/partials/icons-block.html" %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col   col-34   mx-auto">
              <div class="row showroom-row">
                <div class="col   col-30 offset-3  col-lg-12 offset-lg-0">
                  <h3 class="subheading" id="brand-colours">Base colours</h3>
                  <p>The base colours include the mostly used gray scale colours one does not simply not use.</p>
                </div>
                <div class="col   col-30 offset-3   col-lg-24 offset-lg-0">
                  <div class="row">
                    <div class="col">
                      {% set styles = ["quaternary", "quinary", "senary", "septenary"] %}
                      {% for style in styles %}
                        {% set icon_class = "icon icon--" + style %}
                        {% set icon_wrapper_class = "icons" %}
                        {% if style == "septenary" %}
                          {% set icon_wrapper_class = "icons icons--light" %}
                        {% endif %}
                        {% include "styleguide/partials/icons-block.html" %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col   col-34   mx-auto">
              <div class="row showroom-row">
                <div class="col   col-30 offset-3  col-lg-12 offset-lg-0">
                  <h3 class="subheading" id="brand-colours">Feedback colours</h3>
                  <p>These colours are here to give your users feedback for input states.</p>
                </div>
                <div class="col   col-30 offset-3   col-lg-24 offset-lg-0">
                  <div class="row">
                    <div class="col">
                      {% set styles = ["octonary", "nonary", "denary"] %}
                      {% for style in styles %}
                        {% set icon_class = "icon icon--" + style %}
                        {% set icon_wrapper_class = "icons" %}
                        {% include "styleguide/partials/icons-block.html" %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </article>
    </div>

    {{ heroContainerFooter() }}

  </div>
{% endblock %}