{% extends 'layouts/styleguide.html' %}

{% block content %}
  <div class="page page--demo page--inline-svg">
    <div class="hero-container">
      <div class="row">
        <div class="coll">
          <a href="index.html" class="close-screen-button">
            <span class="icon icon--quaternary">
              {% include 'shared/icons/icon__cross.svg.html' %}
            </span>
          </a>

          <h1 class="heading heading--large">Icons</h1>
          
          <button class="bubble bubble--arrow-down ws-trigger" data-ws-el="page-contents">
            <span class="icon icon--quaternary">
              {% include 'shared/icons/icon__button-down.svg.html' %}
            </span>
          </button>
        </div>
      </div>
    </div>
    
    <div class="page-contents">
      <article class="container">
        <section class="showroom">
          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Default icons</h2>
            </div>
          </div>

          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              <p class="headline">These icons are inline and therefore more flexible</p>
            </div>

            <div class="coll col-24 offset-6 center">
              <div class="icons-wrapper">
                
                <div class="row showroom-row">
                  <div class="coll">
                    <h4 class="subheading">Directions</h4>
                  </div>

                  <div class="coll   col-md-18 offset-md-9   col-lg-14 offset-lg-3">
                    <div class="row">
                      <div class="coll">
                        <h4 class="subtitle">Arrow</h4>
                      </div>
                      <div class="coll">
                        <div class="icons">
                          <span class="icon">
                            {% include "shared/icons/icon__arrow-up.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__arrow-right.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__arrow-down.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__arrow-left.svg.html" %}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="coll   col-md-18 offset-md-9   col-lg-14 offset-lg-2">
                    <div class="row">
                      <div class="coll">
                        <h4 class="subtitle">Pointer</h4>
                      </div>
                      <div class="coll">
                        <div class="icons">
                          <span class="icon">
                            {% include "shared/icons/icon__pointer-up.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__pointer-right.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__pointer-down.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__pointer-left.svg.html" %}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="coll   col-md-18 offset-md-9   col-lg-14 offset-lg-3">
                    <div class="row">
                      <div class="coll">
                        <h4 class="subtitle">Triangle</h4>
                      </div>
                      <div class="coll">
                        <div class="icons">
                          <span class="icon">
                            {% include "shared/icons/icon__triangle-up.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__triangle-right.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__triangle-down.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__triangle-left.svg.html" %}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="coll   col-md-18 offset-md-9   col-lg-14 offset-lg-2">
                    <div class="row">
                      <div class="coll">
                        <h4 class="subtitle">Button</h4>
                      </div>
                      <div class="coll">
                        <div class="icons">
                          <span class="icon">
                            {% include "shared/icons/icon__button-up.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__button-right.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__button-down.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__button-left.svg.html" %}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row showroom-row">
                  <div class="coll">
                    <h4 class="subheading">Social media</h4>
                  </div>

                  <div class="coll   col-md-18 offset-md-9   col-lg-14 offset-lg-3">
                    <div class="row">
                      <div class="coll">
                        <h4 class="subtitle">Buttons</h4>
                      </div>
                      <div class="coll">
                        <div class="icons">
                          <span class="icon">
                            {% include "shared/icons/icon__button-facebook.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__button-twitter.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__button-linkedin.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__button-google-plus.svg.html" %}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="coll   col-md-18 offset-md-9   col-lg-14 offset-lg-2">
                    <div class="row">
                      <div class="coll">
                        <h4 class="subtitle">Active buttons</h4>
                      </div>
                      <div class="coll">
                        <div class="icons">
                          <span class="icon">
                            {% include "shared/icons/icon__button-facebook-active.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__button-twitter-active.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__button-linkedin-active.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__button-google-plus-active.svg.html" %}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="coll   col-md-18 offset-md-9   col-lg-14 offset-lg-11">
                    <div class="row">
                      <div class="coll">
                        <h4 class="subtitle">Simple links</h4>
                      </div>
                      <div class="coll">
                        <div class="icons">
                          <span class="icon">
                            {% include "shared/icons/icon__facebook.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__twitter.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__linkedin.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__instagram.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__google-plus.svg.html" %}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>


                <div class="row showroom-row">
                  <div class="coll">
                    <h4 class="subheading">Miscellanious</h4>
                  </div>
                  
                  <div class="coll   col-md-18 offset-md-9   col-lg-14 offset-lg-11">
                    <div class="row">
                      <div class="coll">
                        <div class="icons">
                          <span class="icon">
                            {% include "shared/icons/icon__play.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__expand.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__success.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__failure.svg.html" %}
                          </span>
                          <span class="icon">
                            {% include "shared/icons/icon__cross.svg.html" %}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>

        <section class="showroom">
          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Colour themes</h2>
            </div>
          </div>

          <div class="row">
            <div class="coll col-24 offset-6 center">
              <div class="icons-wrapper">

                <div class="row showroom-row">
                  <div class="coll">
                    <h3 class="subheading" id="brand-colours">Brand (primary) colours</h3>
                  </div>
                  <div class="coll">
                    <p>The top 3 colours from the brand's colour palette.</p>
                  </div>

                  <div class="coll">
                    {% set styles = ["primary", "secondary", "tertiary"] %}
                    {% for style in styles %}
                      {% set icon_class = "icon icon--" + style %}
                      {% set icon_wrapper_class = "icons" %}
                      {% include "styleguide/partials/icons-block.html" %}
                    {% endfor %}
                  </div>
                </div>

                <div class="row showroom-row">
                  <div class="coll">
                    <h3 class="subheading">Base (secondary) colours</h3>
                  </div>
                  <div class="coll">
                    <p>The base colours include the mostly used gray scale colours one does not simply not use.</p>
                  </div>

                  <div class="coll">
                    {% set styles = ["quaternary", "quinary", "senary", "septenary"] %}
                    {% for style in styles %}
                      {% set icon_class = "icon icon--" + style %}
                      {% set icon_wrapper_class = "icons" %}
                      {% if style == "septenary" %}
                        {% set icon_wrapper_class = "icons icons--light" %}
                      {% endif %}
                      {% include "styleguide/partials/icons-block.html" %}
                    {% endfor %}
                  </div>
                </div>

                <div class="row showroom-row">
                  <div class="coll">
                    <h3 class="subheading" id="feedback-colours">Feedback (tertiary) colours</h3>
                  </div>

                  <div class="coll">
                    <p>These colours are here to give your users feedback for input states.</p>
                  </div>

                  <div class="coll">
                    {% set styles = ["octonary", "nonary", "denary"] %}
                    {% for style in styles %}
                      {% set icon_class = "icon icon--" + style %}
                      {% set icon_wrapper_class = "icons" %}
                      {% include "styleguide/partials/icons-block.html" %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </article>
    </div>

    <div class="hero-container hero-container--footer">
      <div class="row">
        <div class="coll">          
          <button class="bubble bubble--arrow-up ws-trigger" data-ws-el="page">
            <span class="icon icon--quaternary">
              {% include 'shared/icons/icon__button-up.svg.html' %}
            </span>
          </button>
        </div>
      </div>
    </div>

  </div>
{% endblock %}