{% extends 'layouts/styleguide.html' %}

{% block content %}
  <div class="page page--demo page--demo-index">
    <div class="page-contents">
      <article class="container">
        <div class="row">
          <div class="col center">
            <h1 class="subheading">Szimpla</h1>
          </div>
        </div>
        <div class="row">
          <div class="col   col-24 mx-auto">
            <ul class="reset-list center">
              <li>
                <a class="button button--secondary" href="grid-examples.html">Grid examples</a>
              </li>
              <li>
                <a class="button button--secondary" href="typography.html">Typography</a>
              </li>
              <li>
                <a class="button" href="icons.html">Icons</a>
              </li>
              <li>
                <a class="button" href="colours.html">Colours</a>
              </li>
              <li>
                <a class="button button--senary" href="forms.html">Forms</a>
              </li>
              <li>
                <a class="button button--tertiary" href="basic-interaction.html">Basic Interaction</a>
              </li>
              <li>
                <a class="button button--tertiary" href="interactive-components.html">Interactive components</a>
              </li>
              <li>
                <a class="button button--tertiary" href="rp-menu.html">Responsive menu #1</a>
              </li>
            </ul>
          </div>      
        </div>
      </article>
  </div> 
{% endblock %}
