{% extends 'layouts/styleguide.html' %}

{% block content %}
  {% include 'shared/components/rp-menu.html' %}

  <div class="page page--demo page--rp-menu">    
    <div class="page-contents">
      <article class="container">
        <section class="showroom">
          <div class="row">
            <div class="col col-24 offset-6   col-lg-32 offset-lg-2   center">
              <a href="index.html" class="close-screen-button">
                <span class="icon icon--quinary">
                  {% include 'shared/icons/icon__cross.svg.html' %}
                </span>
              </a>

              <h2 class="heading">Responsive menu #1</h2>
            </div>
          </div>

          <div class="row">
            <div class="col col-24 offset-6   col-lg-32 offset-lg-2   center">
              <p class="headline">A simple responsive menu with a subnavigation layer</p>
            </div>
          </div>
        </section>
      </article>
    </div>

    {{ heroContainerFooter("senary", "rp-menu") }}

  </div>
{% endblock %}
