{% extends 'layouts/styleguide.html' %}

{% block content %}
  <div class="page page--demo page--typography">
    {{ heroContainer("secondary", "Typography") }}
    
    <div class="page-contents">
      <article class="container">
        <section class="showroom">
          <div class="row">
            <div class="col   col-34   mx-auto">
              <div class="row">
                <div class="col   col-30   col-md-26   mx-auto">

                  <div class="row">
                    <div class="col">
                      <h1 class="heading heading--large no-override">Large heading</h1>
                      <h2 class="heading no-override">Heading</h2>
                      <h3 class="subheading no-override">Subheading</h3>
                      <h3 class="subtitle no-override">Subtitle</h3>
                      <h3 class="subtitle subtitle--sub no-override">Sub subtitle</h3>
                      
                      <p class="article__lead">Compellingly transform unique expertise via real-time convergence. Compellingly architect ubiquitous functionalities vis-a-vis client-focused benefits. Synergistically expedite leading-edge sources before emerging collaboration and idea-sharing. Credibly evolve highly efficient systems through world-class products. Dynamically customize covalent quality vectors before emerging sources.</p>

                      <p class="headline">Compellingly transform unique expertise via real-time convergence. Compellingly architect ubiquitous functionalities vis-a-vis client-focused benefits. Synergistically expedite leading-edge sources before emerging collaboration and idea-sharing. Credibly evolve highly efficient systems through world-class products. Dynamically customize covalent quality vectors before emerging sources.</p>

                      <p>Credibly predominate professional data after equity invested infomediaries. Uniquely develop client-focused customer service after sustainable e-services. <a href="#" class="link">Globally deliver holistic interfaces</a> whereas innovative experiences. Appropriately seize worldwide infrastructures for plug-and-play technologies. Competently evolve impactful functionalities rather than resource-leveling quality vectors.</p>

                      <p>Proactively reconceptualize inexpensive collaboration and <a href="#" class="link link--secondary">idea-sharing through functional</a> potentialities. Energistically expedite market positioning manufactured products through bricks-and-clicks.</p>
                    </div>
                  </div>


                <div class="row">
                  <div class="col col-36   col-lg-18">
                    <ul class="list">
                      <li><span>Credibly evolve highly efficient systems</span></li>
                      <li><span>Credibly evolve highly efficient systems</span></li>
                      <li><span>Credibly evolve highly efficient systems</span></li>
                      <li><span>Credibly evolve highly efficient systems</span></li>
                    </ul>

                    <ul class="list list--highlighted">
                      <li><span>Credibly evolve highly efficient systems</span></li>
                      <li><span>Credibly evolve highly efficient systems</span></li>
                      <li><span>Credibly evolve highly efficient systems</span></li>
                      <li><span>Credibly evolve highly efficient systems</span></li>
                    </ul>
                  </div>
                  <div class="col col-36   col-lg-18">
                    <ol class="list">
                      <li><span>Credibly evolve highly efficient systems</span></li>
                      <li><span>Credibly evolve highly efficient systems</span></li>
                      <li><span>Credibly evolve highly efficient systems</span></li>
                      <li><span>Credibly evolve highly efficient systems</span></li>
                    </ol>

                    <ol class="list list--highlighted">
                      <li><span>Credibly evolve highly efficient systems</span></li>
                      <li><span>Credibly evolve highly efficient systems</span></li>
                      <li><span>Credibly evolve highly efficient systems</span></li>
                      <li><span>Credibly evolve highly efficient systems</span></li>
                    </ol>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <blockquote class="blockquote">
                      Collaboratively implement multifunctional interfaces through global vortals. Completely restore economically sound partnerships before economically sound niche markets.</blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
    </div>

    {{ heroContainerFooter("secondary") }}

  </div>
{% endblock %}