{% extends 'layouts/application.html' %}

{% block content %}
  <div class="page page--demo page--typography">
    <div class="hero-container">
      <div class="row">
        <div class="coll">
          <a href="../" class="close-screen-button">
            {{ sprite('x--white', classes='icon') }}
          </a>

          <h1 class="heading heading--large">UI components</h1>
          
          <button class="bubble bubble--arrow-down ws-trigger" data-ws-el="page-contents">
            {{ sprite('button-up', classes='icon') }}
          </button>
        </div>
      </div>
    </div>
    
    <div class="page-contents">
      <article class="container">
        <section class="showroom">
          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Buttons &amp; tabs</h2>
            </div>
          </div>

          <div class="row center showroom-row">
            <div class="coll   col-36   col-md-15 offset-md-2   col-lg-10 offset-lg-2">
              <div class="row">
                <div class="coll   col-lg-36">
                  <h3 class="subheading">Primary button</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="coll   col-36">
                  <button class="button">Default button</button>
                </div>
                <div class="coll   col-36">
                  <button class="button is-active">Active button</button>
                </div>
                <div class="coll   col-36">
                  <button class="button is-disabled">Disabled button</button>
                </div>
              </div>
            </div>

            <div class="coll   col-36   col-md-15 offset-md-2   col-lg-10 offset-lg-1">
              <div class="row">
                <div class="coll   col-36">
                  <h3 class="subheading">Secondary button</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="coll   col-36">
                  <button class="button button--secondary">Default button</button>
                </div>
                <div class="coll   col-36">
                  <button class="button button--secondary is-active">Active button</button>
                </div>
                <div class="coll   col-36">
                  <button class="button button--secondary is-disabled">Disabled button</button>
                </div>
              </div>
            </div>

            <div class="coll   col-36   col-md-18 offset-md-9   col-lg-10 offset-lg-1">
              <div class="row">
                <div class="coll   col-36">
                  <h3 class="subheading">Sidebar tab</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="coll   col-36   center">
                  <button class="tab">Default tab</button>
                </div>
                <div class="coll   col-36">
                  <button class="tab is-active">Active tab</button>
                </div>
                <div class="coll   col-36">
                  <button class="tab is-disabled">Disabled tab</button>
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section class="showroom">
          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Links</h2>
            </div>
          </div>

          <div class="row center showroom-row">
            <div class="coll   col-36   col-md-18">
              <div class="row">
                <div class="col">
                  <h3 class="subheading">Primary link</h3>
                </div>
              </div>
              
              <div class="row showroom-row">                    
                <div class="col">
                  <a href="#">Find out more</a>
                </div>
              </div>
            </div>

            <div class="coll   col-36   col-md-18">
              <div class="row">
                <div class="col">
                  <h3 class="subheading">Secondary link</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="col">
                  <a href="#" class="link link--secondary">Find out more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row center showroom-row">
            <div class="coll   col-36   col-md-18">
              <div class="row">
                <div class="col">
                  <h3 class="subheading">Primary 'more' link</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="col">
                  <a href="#" class="more-link"><span>Read more</span> {{ sprite('pointer-right--purple', classes='icon') }}</a>
                </div>
              </div>
            </div>

            <div class="coll   col-36   col-md-18">
              <div class="row">
                <div class="col">
                  <h3 class="subheading">Secondary 'more' link</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="col">
                  <a href="#" class="more-link more-link--secondary"><span>Read more</span> {{ sprite('pointer-right--yellow', classes='icon') }}</a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section class="showroom">
          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Social sharing</h2>
            </div>
          </div>

          <div class="row">
            <div class="coll   col-30 offset-3   col-lg-18 offset-lg-4">
              <p class="headline">Share content with pop up intents.</p>
            </div>
          </div>

          <div class="row showroom-row">
            <div class="coll   col-30 offset-3   col-lg-18 offset-lg-4">
              <h3 class="subtitle no-override">Related files</h3>
              <ul>
                <li>javascripts/components/social-sharing-buttons.js</li>
                <li>html/shared/components/social-sharing-buttons.html</li>
                <li>stylesheets/components/social-sharing-buttons.scss</li>
                <li>html/data/global.json</li>
              </ul>

              <h3 class="subtitle no-override">Config</h3>
              <pre><code>The social sharing settings can be found in the global.json file, at the "social" entry.</code></pre>

              <blockquote>The settings for Facebook and Twitter are used by the Twitter and Facebook meta partials to populate the appropriate meta tags in the head.</blockquote>

              <h3 class="subtitle no-override">Code example</h3>
              <pre><code>&lt;a href="#" class="button fit-width vo-trigger" data-vo-id="Vpg9yizPP_g" data-vo-type="youtube"&gt;Play Youtube&lt;/a&gt;</code><br><code>&lt;script&gt;const sharingButtons = new SocialSharingButtons();&lt;/script&gt;</code></pre>
            </div>

            <div class="coll   col-30 offset-3   col-lg-8 offset-lg-2">
              <div class="showroom-demo">
                <h3 class="subtitle no-override">Demo</h3>
                <div class="center">
                  {% include 'shared/components/social-sharing-buttons.html' %}
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section class="showroom">
          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Window scrolling</h2>
            </div>
          </div>

          <div class="row">
            <div class="coll   col-30 offset-3   col-lg-18 offset-lg-4">
              <p class="headline">Turn any anchor tag into a window scrolling trigger.</p>
            </div>
          </div>
          
          <div class="row showroom-row">
            <div class="coll   col-30 offset-3   col-lg-18 offset-lg-4">
              <h3 class="subtitle no-override">Related files</h3>
              <ul>
                <li>javascripts/components/window-scroller.js</li>
              </ul>

              <h3 class="subtitle no-override">Config</h3>
              <pre><code>data-ws-el: CSS id or class of the element you want to scroll to</code><code>data-ws-duration: Scroll duration</code><code>Use 'ws-trigger' class to add any element to the trigger list.</code></pre>

              <h3 class="subtitle no-override">Code example</h3>
              <pre><code>&lt;a href="#" class="button fit-width ws-trigger" data-ws-el="page"&gt;Scroll to top&lt;/a&gt;</code><br><code>&lt;script&gt;const windowScroller = new WindowScroller();&lt;/script&gt;</code></pre>

              <blockquote>WindowScroller is a singleton.</blockquote>
            </div>

            <div class="coll   col-30 offset-3   col-lg-8 offset-lg-2">
              <div class="showroom-demo">
                <h3 class="subtitle no-override">Demo</h3>
                <div class="row">
                  <a href="#" class="button ws-trigger fit-width" data-ws-el="page"><span>Scroll to the top</span> {{ sprite('pointer-up--white', classes='icon') }}</a>
                </div>
                <br>
                <div class="row">
                  <a href="#" class="button button--secondary fit-width ws-trigger" data-ws-el="video-overlay-section" data-ws-duration="2"><span>Scroll to the next section</span> {{ sprite('pointer-down--white', classes='icon') }}</a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section class="showroom" id="video-overlay-section">
          <div class="row">
            <div class="coll   col-30 offset-3   col-lg-18 offset-lg-4 center">
              <h2 class="heading">Video overlay</h2>
            </div>
          </div>
          
          <div class="row">
            <div class="coll   col-30 offset-3   col-lg-18 offset-lg-4">
              <p class="headline">Turn any anchor tag into a video overlay trigger.</p>
            </div>
          </div>

          <div class="row showroom-row">
            <div class="coll   col-30 offset-3   col-lg-18 offset-lg-4">
              <h3 class="subtitle no-override">Related files</h3>
              <ul>
                <li>javascripts/components/video-overlay.js</li>
                <li>stylesheets/components/video-overlay.scss</li>
              </ul>

              <h3 class="subtitle no-override">Config</h3>
              <pre><code>data-vo-id: The video id (either Youtube or Vimeo)</code><code>data-vo-type: 'youtube' or 'vimeo'</code><code>Use 'vo-trigger' class to add any element to the trigger list.</code></pre>

              <h3 class="subtitle no-override">Code example</h3>
              <pre><code>&lt;a href="#" class="button fit-width vo-trigger" data-vo-id="Vpg9yizPP_g" data-vo-type="youtube"&gt;Play Youtube&lt;/a&gt;</code><br><code>&lt;script&gt;const videoOverlay = new VideoOverlay();&lt;/script&gt;</code></pre>

              <blockquote>VideoOverlay is a singleton.</blockquote>
            </div>

            <div class="coll   col-30 offset-3   col-lg-8 offset-lg-2">
              <div class="showroom-demo">
                <h3 class="subtitle no-override">Demo</h3>
                <div class="row">
                  <a href="#" class="button fit-width vo-trigger" data-vo-id="{{ videos.youtube_test }}" data-vo-type="youtube">Play Youtube</a>
                </div>
                
                <br>
                
                <div class="row">
                  <a href="#" class="button button--secondary fit-width vo-trigger" data-vo-id="{{ videos.vimeo_test }}" data-vo-type="vimeo">Play Vimeo</a>
                </div>
                
                <br>
                
                <div class="row">
                  <figure class="fade-on-hover">
                    <a href="#" class="vo-trigger" data-vo-id="{{ videos.vimeo_test }}" data-vo-type="vimeo"><img src="images/video-preview.jpg" class="fit-width"></a>
                    <figcaption>Image trigger</figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section class="showroom">
          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Video embed</h2>
            </div>
          </div>
          
          <div class="row">
            <div class="coll   col-30 offset-3   col-lg-24 offset-lg-6">
              <p class="headline">Video embeds are fully responsive and always take up 100% of their parent's width. The videos are fitted to 16:9 ratio, but it can be changed from CSS.</p>
            </div>
          </div>

          <div class="row showroom-row">
            <div class="coll   col-30 offset-3   col-lg-24 offset-lg-6">
              <h3 class="subtitle no-override">Code example: Youtube <a href="https://developers.google.com/youtube/player_parameters#Parameters" target="_blank">(docs)</a></h3>
              <pre><code>&lt;iframe src="//youtube.com/embed/Vpg9yizPP_g?&rel=0&showinfo=0&loop=0&controls=1" frameborder="0" allowfullscreen&gt;&lt;/iframe&gt;</code></pre>

              <h3 class="subtitle no-override">Demo: Youtube</h3>
              <div class="video-embed">
                <iframe src="//youtube.com/embed/{{ videos.youtube_test }}?&rel=0&showinfo=0&loop=0&controls=1" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>

          <div class="row showroom-row">
            <div class="coll   col-30 offset-3   col-lg-24 offset-lg-6">
              <h3 class="subtitle no-override">Code example: Vimeo <a href="https://developer.vimeo.com/apis/oembed" target="_blank">(docs)</a></h3>
              <pre><code>&lt;iframe src="//youtube.com/embed/Vpg9yizPP_g?&rel=0&showinfo=0&loop=0&controls=1" frameborder="0" allowfullscreen&gt;&lt;/iframe&gt;</code></pre>

              <h3 class="subtitle no-override">Demo: Vimeo</h3>
              <div class="video-embed">
                <iframe src="//player.vimeo.com/video/{{ videos.vimeo_test }}?&badge=0&byline=0&title=0&loop=0&autoplay=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section class="showroom">
          <div class="row">
            <div class="coll col-30 offset-3   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Social links</h2>
            </div>
          </div>

          <div class="row">
            <div class="coll   col-30 offset-3   col-lg-18 offset-lg-4">
              <p class="headline">List of social media icons linking to external social pages.</p>
            </div>
          </div>

          <div class="row showroom-row">
            <div class="coll   col-30 offset-3   col-lg-18 offset-lg-4">
              <h3 class="subtitle no-override">Related files</h3>
              <ul>
                <li>javascripts/components/social-links.html</li>
                <li>stylesheets/components/social-links.scss</li>
                <li>html/data/global.json</li>
              </ul>

              <h3 class="subtitle no-override">Config</h3>
              <pre><code>Changing the <b>page_url</b> attributes in the <b><i>global.json</i></b> file, under the "social" entry.</code></pre>

              <blockquote>The settings for Facebook and Twitter are used by the Twitter and Facebook meta partials to populate the appropriate meta tags in the head.</blockquote>

              <h3 class="subtitle no-override">Code example</h3>
              <pre><code>&#123;% include 'shared/components/social-links.html' %&#125;</code></pre>
            </div>

            <div class="coll   col-30 offset-3   col-lg-8 offset-lg-2">
              <div class="showroom-demo">
                <h3 class="subtitle no-override">Demo</h3>
                <div class="center">
                  {% include 'shared/components/social-links.html' %}
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section class="showroom">
          <div class="row">
            <div class="coll col-30 offset-3   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Icons</h2>
            </div>
          </div>

          <div class="row">
            <div class="coll   col-30 offset-3   col-lg-24 offset-lg-6 center">
              {% include 'shared/components/svg-sprites.html' %}
            </div>
          </div>
        </section>
      </article>
    </div>
  </div>
{% endblock %}