{% extends 'layouts/application.html' %}

{% block content %}
  <div class="page page--demo page--typography">
    <div class="hero-container">
      <div class="row">
        <div class="coll">
          <h1 class="heading heading--large">UI components</h1>
        </div>
      </div>
    </div>
    
    <div class="page-contents">
      <article class="container">
        <section class="showroom">
          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Buttons &amp; tabs</h2>
            </div>
          </div>

          <div class="row center showroom-row">
            <div class="coll   col-36   col-md-15 offset-md-2   col-lg-10 offset-lg-2">
              <div class="row">
                <div class="coll   col-lg-36">
                  <h3 class="subheading">Primary button</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="coll   col-36">
                  <button class="button">Default button</button>
                </div>
                <div class="coll   col-36">
                  <button class="button is-active">Active button</button>
                </div>
                <div class="coll   col-36">
                  <button class="button is-disabled">Disabled button</button>
                </div>
              </div>
            </div>

            <div class="coll   col-36   col-md-15 offset-md-2   col-lg-10 offset-lg-1">
              <div class="row">
                <div class="coll   col-36">
                  <h3 class="subheading">Secondary button</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="coll   col-36">
                  <button class="button button--secondary">Default button</button>
                </div>
                <div class="coll   col-36">
                  <button class="button button--secondary is-active">Active button</button>
                </div>
                <div class="coll   col-36">
                  <button class="button button--secondary is-disabled">Disabled button</button>
                </div>
              </div>
            </div>

            <div class="coll   col-36   col-md-18 offset-md-9   col-lg-10 offset-lg-1">
              <div class="row">
                <div class="coll   col-36">
                  <h3 class="subheading">Sidebar tab</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="coll   col-36   center">
                  <button class="tab">Default tab</button>
                </div>
                <div class="coll   col-36">
                  <button class="tab is-active">Active tab</button>
                </div>
                <div class="coll   col-36">
                  <button class="tab is-disabled">Disabled tab</button>
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section class="showroom">
          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Links</h2>
            </div>
          </div>

          <div class="row center showroom-row">
            <div class="coll   col-36   col-md-18">
              <div class="row">
                <div class="col">
                  <h3 class="subheading">Primary link</h3>
                </div>
              </div>
              
              <div class="row showroom-row">                    
                <div class="col">
                  <a href="#">Find out more</a>
                </div>
              </div>
            </div>

            <div class="coll   col-36   col-md-18">
              <div class="row">
                <div class="col">
                  <h3 class="subheading">Secondary link</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="col">
                  <a href="#" class="link link--secondary">Find out more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row center showroom-row">
            <div class="coll   col-36   col-md-18">
              <div class="row">
                <div class="col">
                  <h3 class="subheading">Primary 'more' link</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="col">
                  <a href="#" class="more-link"><span>Read more</span> {{ sprite('pointer-right--purple', classes='icon') }}</a>
                </div>
              </div>
            </div>

            <div class="coll   col-36   col-md-18">
              <div class="row">
                <div class="col">
                  <h3 class="subheading">Secondary 'more' link</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="col">
                  <a href="#" class="more-link more-link--secondary"><span>Read more</span> {{ sprite('pointer-right--yellow', classes='icon') }}</a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section class="showroom">
          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Icons</h2>
            </div>
          </div>

          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              {% include 'shared/components/svg-sprites.html' %}
            </div>
          </div>
        </section>

        <hr>

        <section class="showroom">
          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Social links</h2>
            </div>
          </div>

          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              {% include 'shared/components/social-links.html' %}
            </div>
          </div>
        </section>

        <hr>

        <section class="showroom">
          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Social sharing</h2>
            </div>
          </div>

          <div class="row">
            <div class="coll col-24 offset-6   col-lg-32 offset-lg-2   center">
              {% include 'shared/components/social-sharing-buttons.html' %}
            </div>
          </div>
        </section>
      </article>
    </div>
  </div>
{% endblock %}