{% extends 'layouts/application.html' %}

{% block content %}
  <div class="page page--demo page--typography">
    <div class="hero-container">
      <div class="row">
        <div class="col center">
          <h1 class="heading heading--large">UI styleguide</h1>
        </div>
      </div>
    </div>
    
    <div class="page-contents">
      <article class="container">
        <section class="showroom">
          <div class="row">
            <div class="col col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Buttons &amp; tabs</h2>
            </div>
          </div>

          <div class="row center showroom-row">
            <div class="col   col-36   col-md-15 offset-md-2   col-lg-10 offset-lg-2">
              <div class="row">
                <div class="col   col-lg-36">
                  <h3 class="subheading">Primary button</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="col   col-36">
                  <button class="button">Default button</button>
                </div>
                <div class="col   col-36">
                  <button class="button is-active">Active button</button>
                </div>
                <div class="col   col-36">
                  <button class="button is-disabled">Disabled button</button>
                </div>
              </div>
            </div>

            <div class="col   col-36   col-md-15 offset-md-2   col-lg-10 offset-lg-1">
              <div class="row">
                <div class="col   col-36">
                  <h3 class="subheading">Secondary button</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="col   col-36">
                  <button class="button button--secondary">Default button</button>
                </div>
                <div class="col   col-36">
                  <button class="button button--secondary is-active">Active button</button>
                </div>
                <div class="col   col-36">
                  <button class="button button--secondary is-disabled">Disabled button</button>
                </div>
              </div>
            </div>

            <div class="col   col-36   col-md-18 offset-md-9   col-lg-10 offset-lg-1">
              <div class="row">
                <div class="col   col-36">
                  <h3 class="subheading">Sidebar tab</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="col   col-36   center">
                  <button class="tab">Default tab</button>
                </div>
                <div class="col   col-36">
                  <button class="tab is-active">Active tab</button>
                </div>
                <div class="col   col-36">
                  <button class="tab is-disabled">Disabled tab</button>
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section class="showroom">
          <div class="row">
            <div class="col col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Links</h2>
            </div>
          </div>

          <div class="row center showroom-row">
            <div class="col   col-36   col-md-18">
              <div class="row">
                <div class="col">
                  <h3 class="subheading">Primary link</h3>
                </div>
              </div>
              
              <div class="row showroom-row">                    
                <div class="col">
                  <a href="#">Find out more</a>
                </div>
              </div>
            </div>

            <div class="col   col-36   col-md-18">
              <div class="row">
                <div class="col">
                  <h3 class="subheading">Secondary link</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="col">
                  <a href="#" class="link link--secondary">Find out more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row center showroom-row">
            <div class="col   col-36   col-md-18">
              <div class="row">
                <div class="col">
                  <h3 class="subheading">Primary 'more' link</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="col">
                  <a href="#" class="more-link"><span>Read more</span> {{ sprite('pointer-right--purple', classes='icon') }}</a>
                </div>
              </div>
            </div>

            <div class="col   col-36   col-md-18">
              <div class="row">
                <div class="col">
                  <h3 class="subheading">Secondary 'more' link</h3>
                </div>
              </div>
              
              <div class="row showroom-row">
                <div class="col">
                  <a href="#" class="more-link more-link--secondary"><span>Read more</span> {{ sprite('pointer-right--yellow', classes='icon') }}</a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section class="showroom">
          <div class="row">
            <div class="col col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Icons</h2>
            </div>
          </div>

          <div class="row">
            <div class="col col-24 offset-6   col-lg-32 offset-lg-2   center">
              {% include 'shared/components/svg-sprites.html' %}
            </div>
          </div>
        </section>

        <hr>

        <section class="showroom">
          <div class="row">
            <div class="col col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Typography</h2>
            </div>
          </div>

          <div class="row">
            <div class="col   col-36   col-md-26   mx-auto">

              <div class="row">
                <div class="col">
                  <h1 class="heading heading--large no-override">Large heading</h1>
                  <h2 class="heading no-override">Heading</h2>
                  <h3 class="subheading no-override">Subheading</h3>
                  
                  <p class="article__lead">Compellingly transform unique expertise via real-time convergence. Compellingly architect ubiquitous functionalities vis-a-vis client-focused benefits. Synergistically expedite leading-edge sources before emerging collaboration and idea-sharing. Credibly evolve highly efficient systems through world-class products. Dynamically customize covalent quality vectors before emerging sources.</p>

                  <p class="headline">Compellingly transform unique expertise via real-time convergence. Compellingly architect ubiquitous functionalities vis-a-vis client-focused benefits. Synergistically expedite leading-edge sources before emerging collaboration and idea-sharing. Credibly evolve highly efficient systems through world-class products. Dynamically customize covalent quality vectors before emerging sources.</p>

                  <p>Credibly predominate professional data after equity invested infomediaries. Uniquely develop client-focused customer service after sustainable e-services. <a href="#" class="link">Globally deliver holistic interfaces</a> whereas innovative experiences. Appropriately seize worldwide infrastructures for plug-and-play technologies. Competently evolve impactful functionalities rather than resource-leveling quality vectors.</p>

                  <p>Proactively reconceptualize inexpensive collaboration and <a href="#" class="link link--secondary">idea-sharing through functional</a> potentialities. Energistically expedite market positioning manufactured products through bricks-and-clicks.</p>
                </div>
              </div>


              <div class="row">
                <div class="col   col-32 mx-auto   col-lg-18">
                  <ul class="list">
                    <li><span>Credibly evolve highly efficient systems</span></li>
                    <li><span>Credibly evolve highly efficient systems</span></li>
                    <li><span>Credibly evolve highly efficient systems</span></li>
                    <li><span>Credibly evolve highly efficient systems</span></li>
                  </ul>

                  <ul class="list list--highlighted">
                    <li><span>Credibly evolve highly efficient systems</span></li>
                    <li><span>Credibly evolve highly efficient systems</span></li>
                    <li><span>Credibly evolve highly efficient systems</span></li>
                    <li><span>Credibly evolve highly efficient systems</span></li>
                  </ul>
                </div>
                <div class="col   col-32 mx-auto   col-lg-18">
                  <ol class="list">
                    <li><span>Credibly evolve highly efficient systems</span></li>
                    <li><span>Credibly evolve highly efficient systems</span></li>
                    <li><span>Credibly evolve highly efficient systems</span></li>
                    <li><span>Credibly evolve highly efficient systems</span></li>
                  </ol>

                  <ol class="list list--highlighted">
                    <li><span>Credibly evolve highly efficient systems</span></li>
                    <li><span>Credibly evolve highly efficient systems</span></li>
                    <li><span>Credibly evolve highly efficient systems</span></li>
                    <li><span>Credibly evolve highly efficient systems</span></li>
                  </ol>
                </div>
              </div>
              
              <div class="row">
                <div class="col   col-32 offset-2   col-lg-18 offset-lg-0">
                  <blockquote class="blockquote">
                    Collaboratively implement multifunctional interfaces through global vortals. Completely restore economically sound partnerships before economically sound niche markets.
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section class="showroom">
          <div class="row">
            <div class="col col-24 offset-6   col-lg-32 offset-lg-2   center">
              <h2 class="heading">Social links</h2>
            </div>
          </div>

          <div class="row">
            <div class="col col-24 offset-6   col-lg-32 offset-lg-2   center">
              {% include 'shared/components/social-links.html' %}
            </div>
          </div>
        </section>

        <hr>

      </article>
    </div>
  </div>

{% endblock %}