<div class="cookie-message container-fluid is-hidden" aria-hidden="true" role="banner">
  <div class="container">
    <div class="row">
      <div class="col col-30 offset-3   col-md-34 offset-md-1">
        <p class="cookie-message__text">We use cookies to ensure that we give you the best experience on our website.</p>
        <div class="cookie-message__links">
          <a href="#" class="link link--nonary">Find out more</a>
          <a href="#" class="button button--nonary button--small button--hollow" id="cookieAgreeButton">I agree</a>
        </div>
      </div>
    </div>
  </div>
</div>