<nav role="nav" class="rp-menu">
  <div class="menu menu--desktop">
    <div class="menu__header">
      <a href="/" class="menu__branding">
        <img src="{{ doc_root }}/images/nice-brand-logo-sym.svg" class="menu__logo menu__logo--small straight-corners">
        <img src="{{ doc_root }}/images/nice-brand-logo.svg" class="menu__logo menu__logo--large straight-corners">
      </a>

      <ul class="menu__list">
        <li><a href="#">Page Title #1</a></li>
        <li><a href="#">Page Title #2</a></li>
        <li class="is-active"><a href="#">Page Title #3</a></li>
        <li><a href="#">Page Title #4</a></li>
        <li><a href="#">Page Title #5</a></li>
        <li><a href="#">Page Title #6</a></li>
      </ul>
    </div>

    <div class="menu__body">
      <ul class="menu__list">
        <li><a href="#">Section Title #1</a></li>
        <li><a href="#">Section Title #2</a></li>
        <li class="is-active"><a href="#">Section Title #3</a></li>
        <li><a href="#">Section Title #4</a></li>
        <li><a href="#">Section Title #5</a></li>
      </ul>
    </div>
  </div>

  <div class="menu menu--handy">
    <div class="menu__header">
      <a href="{{ doc_root }}/" class="menu__branding">
        <img src="{{ doc_root }}/images/nice-brand-logo-sym.svg" class="menu__logo menu__logo--small straight-corners">
      </a>

      <span class="menu__title">Page Title #3</span>
      
      <div class="menu__burger">
        <button class="menu__burger-button">
          <span class="menu__burger-line"></span>
          <span class="menu__burger-line"></span>
          <span class="menu__burger-line"></span>
        </button>
      </div>
    </div>

    <div class="menu__body">
      <ul class="menu__list">
        <li class="menu__single-link"><a href="#">Page Title #1</a></li>
        <li>
          <ul class="menu__list">
            <li>Page Title #2</li>
            <li><a href="#">Section Title #1</a></li>
            <li><a href="#">Section Title #2</a></li>
          </ul>
        </li>
        <li>
          <ul class="menu__list">
            <li><span>Page Title #3</span></li>
            <li><a href="#">Section Title #1</a></li>
            <li><a href="#">Section Title #2</a></li>
            <li class="is-active"><a href="#">Section Title #3</a></li>
            <li><a href="#">Section Title #4</a></li>
            <li><a href="#">Section Title #5</a></li>
          </ul>
        </li>
        <li>
          <ul class="menu__list">
            <li>Page Title #4</li>
            <li><a href="#">Section Title #1</a></li>
            <li><a href="#">Section Title #2</a></li>
            <li><a href="#">Section Title #3</a></li>
            <li><a href="#">Section Title #4</a></li>
          </ul>
        </li>
        <li class="menu__single-link"><a href="#">Page Title #5</a></li>
        <li>
          <ul class="menu__list">
            <li>Page Title #6</li>
            <li><a href="#">Section Title #1</a></li>
            <li><a href="#">Section Title #2</a></li>
            <li><a href="#">Section Title #3</a></li>
            <li><a href="#">Section Title #4</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>