<div class="social-sharing-buttons-wrapper">
  <ul class="social-sharing-buttons">
    <li>
      <a href="#" class="social-sharing-button social-sharing-button--facebook">
        {{ sprite('button-social-facebook', classes='icon') }}
        {{ sprite('button-social-facebook--hover', classes='icon icon--hover') }}
      </a>
    </li>
    <li>
      <a href="#" class="social-sharing-button social-sharing-button--twitter">
        {{ sprite('button-social-twitter', classes='icon') }}
        {{ sprite('button-social-twitter--hover', classes='icon icon--hover') }}
      </a>
    </li>
    <li>
      <a href="#" class="social-sharing-button social-sharing-button--linkedin">
        {{ sprite('button-social-linkedin', classes='icon') }}
        {{ sprite('button-social-linkedin--hover', classes='icon icon--hover') }}
      </a>
    </li>
    <li>
      <a href="#" class="social-sharing-button social-sharing-button--google-plus">
        {{ sprite('button-social-google-plus', classes='icon') }}
        {{ sprite('button-social-google-plus--hover', classes='icon icon--hover') }}
      </a>
    </li>
  </ul>
</div>