<div class="social-sharing-buttons-wrapper">
  <ul class="social-sharing-buttons">
    <li>
      <a href="#" class="social-sharing-button social-sharing-button--facebook">
        <span class="icon">
          {% include "shared/icons/icon__button-facebook.svg.html" %}
        </span>
        <span class="icon icon--hover">
          {% include "shared/icons/icon__button-facebook-active.svg.html" %}
        </span>
      </a>
    </li>
    <li>
      <a href="#" class="social-sharing-button social-sharing-button--twitter">
        <span class="icon">
          {% include "shared/icons/icon__button-twitter.svg.html" %}
        </span>
        <span class="icon icon--hover">
          {% include "shared/icons/icon__button-twitter-active.svg.html" %}
        </span>
      </a>
    </li>
    <li>
      <a href="#" class="social-sharing-button social-sharing-button--linkedin">
        <span class="icon">
          {% include "shared/icons/icon__button-linkedin.svg.html" %}
        </span>
        <span class="icon icon--hover">
          {% include "shared/icons/icon__button-linkedin-active.svg.html" %}
        </span>
      </a>
    </li>
    <li>
      <a href="#" class="social-sharing-button social-sharing-button--google-plus">
        <span class="icon">
          {% include "shared/icons/icon__button-google-plus.svg.html" %}
        </span>
        <span class="icon icon--hover">
          {% include "shared/icons/icon__button-google-plus-active.svg.html" %}
        </span>
      </a>
    </li>
  </ul>
</div>