<div class="social-links-wrapper">
  <ul class="social-links">
    <li>
      <a href="{{ site_meta.social.facebook.page_url }}" target="_blank" class="social-link social-link--facebook">
        <span class="icon">
          {% include 'shared/icons/facebook.svg.html' %}  
        </span>
        <span class="icon icon--hover">
          {% include 'shared/icons/facebook--hover.svg.html' %}
        </span>
      </a>
    </li>
    <li>
      <a href="{{ site_meta.social.twitter.page_url }}" target="_blank" class="social-link social-link--twitter">
        {{ sprite('twitter', classes='icon') }}
        {{ sprite('twitter--hover', classes='icon icon--hover') }}
      </a>
    </li>
    <li>
      <a href="{{ site_meta.social.linkedin.page_url }}" target="_blank" class="social-link social-link--linkedin">
        {{ sprite('linkedin', classes='icon') }}
        {{ sprite('linkedin--hover', classes='icon icon--hover') }}
      </a>
    </li>
    <li>
      <a href="{{ site_meta.social.instagram.page_url }}" target="_blank" class="social-link social-link--instagram">
        {{ sprite('instagram', classes='icon') }}
        {{ sprite('instagram--hover', classes='icon icon--hover') }}
      </a>
    </li>
  </ul>
</div>