{% from 'macros/helpers.html' import sprite %}

<div class="svg-sprites-wrapper">
  <div>
    <h2 class="subheading">Social icons</h2>
  </div>

  <div class="svg-sprites">
    {{ sprite('facebook', classes='icon icon--facebook') }}
    {{ sprite('twitter', classes='icon icon--twitter') }}
    {{ sprite('linkedin', classes='icon icon--linkedin') }}
    {{ sprite('instagram', classes='icon icon--instagram') }}
  </div>
</div>

<div class="svg-sprites-wrapper">
  <div>
    <h2 class="subheading">Round social icons</h2>
  </div>

  <div class="svg-sprites">
    {{ sprite('button-social-facebook', classes='icon icon--button-facebook') }}
    {{ sprite('button-social-facebook--hover', classes='icon icon--button-facebook icon--button-facebook-hover') }}
    {{ sprite('button-social-twitter', classes='icon icon--button-twitter') }}
    {{ sprite('button-social-twitter--hover', classes='icon icon--button-twitter icon--button-twitter-hover') }}
    {{ sprite('button-social-linkedin', classes='icon icon--button-linkedin') }}
    {{ sprite('button-social-linkedin--hover', classes='icon icon--button-linkedin icon--button-linkedin-hover') }}
  </div>
</div>

<div class="svg-sprites-wrapper">
  <div>
    <h2 class="subheading">Arrows and pointers</h2>
  </div>

  <div class="svg-sprites">
    {{ sprite('pointer-left--purple', classes='icon icon--pointer-left') }}
    {{ sprite('pointer-right--purple', classes='icon icon--pointer-right') }}

    {{ sprite('pointer-left--yellow', classes='icon icon--pointer-left') }}
    {{ sprite('pointer-right--yellow', classes='icon icon--pointer-right') }}

    {{ sprite('arrow-left--purple', classes='icon icon--arrow-left') }}
    {{ sprite('arrow-right--purple', classes='icon icon--arrow-right') }}

    {{ sprite('arrow-left--yellow', classes='icon icon--arrow-left') }}
    {{ sprite('arrow-right--yellow', classes='icon icon--arrow-right') }}

    {{ sprite('arrow-left--disabled', classes='icon icon--arrow-left-disabled') }}
    {{ sprite('arrow-right--disabled', classes='icon icon--arrow-right-disabled') }}

    {{ sprite('pointer-down--white', classes='icon icon--pointer-down-white') }}
    {{ sprite('pointer-up--white', classes='icon icon--pointer-up-white') }}

    {{ sprite('pointer-down--black', classes='icon icon--pointer-down-black') }}
    {{ sprite('pointer-up--black', classes='icon icon--pointer-up-black') }}
  </div>
</div>

<div class="svg-sprites-wrapper">
  <div>
    <h2 class="subheading">Miscellanious</h2>
  </div>

  <div class="svg-sprites">
    {{ sprite('button-play', classes='icon icon--button-play') }}
    {{ sprite('button-up', classes='icon icon--button-up') }}
    {{ sprite('input-success', classes='icon icon--input-success') }}
    {{ sprite('input-failure', classes='icon icon--input-failure') }}
    {{ sprite('x--red', classes='icon icon--x-red') }}
    {{ sprite('x--black', classes='icon icon--x-black') }}
    {{ sprite('x--white', classes='icon icon--x-white') }}
  </div>
</div>