/*
  COMPONENT / bubble (bubble is a round button using an SVG icon)
*/
.bubble {
  width: 42px;
  height: 42px;
  padding: 0;
  border-radius: 100%;

  .icon {
    width: 100%;
    height: 100%;
    display: block;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

@include hover-state {
  .bubble {
    @include link-hover;

    &:hover {
      transform: scale(1.1);
    }
  }
}