/*
  COMPONENT / button
*/
%button-base {
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: $global-radius;
  @include font(14px, 27px);
  font-family: $regular-font;
  user-select: none;
  color: $col-septenary;
  @include link-hover(0.2s);
  @extend %transition-ease-out-expo;
  width: 100%;
  max-width: 254px;

  &.is-disabled {
    cursor: disabled;
    opacity: 0.35;
    pointer-events: none;
  }
}

.button {
  @extend %button-base;

  padding: 11px 24px 12px 24px;
  font-weight: 700;

  background: $col-primary;
  text-decoration: none;

  @extend .button--primary;
}

.button--medium {
  max-width: 100%;
  min-width: 180px;
  width: auto;
  padding: 5px 24px 6px 24px;

  @include media("<md") {
    max-width: 240px;
  }
}

.button--small {
  max-width: 100%;
  min-width: 140px;
  width: auto;
  @include font(12px, 16px);
  padding: 6px 20px 5px 20px;

  @include media("<md") {
    max-width: 210px;
    padding: 9px 16px 10px 16px;
  }
}

/*
  * Generate button classes using the ordered latin list
*/
@each $item in $order {
  $colour-name: map-get($colours, $item);

  .button--#{$item} {
    background: $colour-name;

    &.is-active {
      background: lighten($colour-name, 20%);
    }

    &.button--hollow {
      background: none;
      border: 1px solid $colour-name;
      color: $colour-name;
    }
  }

  // Generate button hover states on non-touch devices
  @include hover-state {
    .button--#{$item} {
      &:hover {
        color: $col-septenary; // Always white
        background: darken($colour-name, 10%);
      }

      &.button--hollow:hover {
        background: $colour-name;
      }
    }
  }
}



/*
  COMPONENT / Tag
*/
.tab {
  @extend %button-base;
  text-align: left;
  padding: 9px 24px 10px 24px;
  text-decoration: none;
  
  @extend .tab--primary;
}

/*
  * Generate tab classes using the ordered latin list
*/
@each $item in $order {
  $colour-name: map-get($colours, $item);

  .tab--#{$item} {
    background: $col-septenary; // Always white
    color: $colour-name;
    border: 1px solid $colour-name;

    &.is-active {
      background: $colour-name;
      border-color: $colour-name;
      color: $col-septenary; // Always white
    }
  }

  // Generate button hover states on non-touch devices
  @include hover-state {
    .tab--#{$item} {
      &:hover {
        border-color: $colour-name;
        background: $colour-name;
        color: $col-septenary; // Always white
        text-decoration: none;
      }
    }
  }
}
