/*
  COMPONENT / button
*/
%button-base {
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 24px;
  @include font(14px, 27px);
  font-family: $regular-font;
  user-select: none;
  color: $col-septenary;
  @include link-hover(0.2s);
  @extend %transition-ease-out-expo;
  width: 100%;
  max-width: 254px;

  &.is-disabled {
    cursor: disabled;
    opacity: 0.35;
    pointer-events: none;
  }
}

.button {
  @extend %button-base;

  padding: 11px 24px 12px 24px;
  font-weight: 700;

  background: $col-primary;
  text-decoration: none;

  &:focus {
    color: $col-septenary;
  }

  &.is-active {
    background: lighten($col-primary, 10%);
  }

  &.button--hollow {
    background: none;
    border: 1px solid $col-primary;
    color: $col-primary;
  }
}

.button--secondary {
  background: $col-secondary;

  &.is-active {
    background: lighten($col-secondary, 20%);
  }

  &.button--hollow {
    background: none;
    border: 1px solid $col-secondary;
    color: $col-secondary;
  }
}

.button--tertiary {
  background: $col-tertiary;

  &.is-active {
    background: lighten($col-tertiary, 20%);
  }

  &.button--hollow {
    background: none;
    border: 1px solid $col-tertiary;
    color: $col-tertiary;
  }
}

.button--medium {
  max-width: 100%;
  min-width: 180px;
  width: auto;
  padding: 5px 24px 6px 24px;

  @include media("<md") {
    max-width: 240px;
    // padding: 9px 16px 10px 16px;
  }
}

.button--small {
  max-width: 100%;
  min-width: 140px;
  width: auto;
  @include font(12px, 16px);
  padding: 6px 20px 5px 20px;

  @include media("<md") {
    max-width: 210px;
    padding: 9px 16px 10px 16px;
  }
}


// Only do hover states on non-touch devices
@include hover-state {
  .button {
    &:hover {
      color: $col-septenary;
      background: lighten($col-primary, 10%);
    }

    &.button--hollow:hover {
      background: $col-primary;
    }
  }

  .button--secondary {
    &:hover {
      color: $col-septenary;
      background: lighten($col-secondary, 20%);
    }

    &.button--hollow:hover {
      background: $col-secondary;
    }
  }

  .button--tertiary {
    &:hover {
      color: $col-septenary;
      background: lighten($col-tertiary, 20%);
    }

    &.button--hollow:hover {
      background: $col-tertiary;
    }
  }
}


/*
  COMPONENT / Tag
*/
.tab {
  @extend %button-base;
  text-align: left;
  padding: 9px 24px 10px 24px;
  text-decoration: none;
  
  background: $col-septenary;
  color: $col-primary;
  border: 1px solid $col-primary;

  &.is-active {
    background: $col-primary;
    border-color: $col-primary;
    color: $col-septenary;
  }
}

.tab--secondary {
  color: $col-secondary;
  border: 1px solid $col-secondary;

  &.is-active {
    background: $col-secondary;
    border-color: $col-secondary;
    color: $col-septenary;
  }
}

.tab--tertiary {
  color: $col-tertiary;
  border: 1px solid $col-tertiary;

  &.is-active {
    background: $col-tertiary;
    border-color: $col-tertiary;
    color: $col-septenary;
  }
}

@include hover-state {
  .tab {
    &:hover {
      border-color: $col-primary;
      background: $col-primary;
      color: $col-septenary;
      text-decoration: none;
    }
  }

  .tab--secondary {
    &:hover {
      border-color: $col-secondary;
      background: $col-secondary;
      color: $col-septenary;
      text-decoration: none;
    }
  }

  .tab--tertiary {
    &:hover {
      border-color: $col-tertiary;
      background: $col-tertiary;
      color: $col-septenary;
      text-decoration: none;
    }
  }
}
