/*
  COMPONENT / Carousel
*/
.carousel {
  position: relative;
  user-select: none;
  height: 564px;
  z-index: 1;

  @include media("<lg") {
    height: 450px;
  }
}

.carousel__foreground {
  height: 100%;
}


.carousel__foreground {
  position: relative;
  @include clearfix;

  @include media ("<md") {
    width: 100%;
    padding: 0;
  }
}

.carousel-items-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;

  opacity: 0;
}

.carousel-items {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.carousel-item {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  
  background: $col-primary;
  color: $col-septenary;

  pointer-events: none;
  z-index: 0;

  &.is-active {
    z-index: 1;
  }
}

.carousel-item__photo {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel-item__contents-wrapper {
  position: relative;
  height: 100%;
  z-index: 1;
  @extend %flex-container;
  @extend %flex-columns;
}

.carousel-item__contents {
  width: 68%;
  cursor: default;
  @extend %flex-item;

  @include media("<lg") {
    width: 80%;
  }

  @include media("<md") {
    // width: 280px;
    width: 64%;
  }
}

.carousel-item__copy,
.carousel-item__author-name,
.carousel-item__author-title {
  display: block;

  @include media("<lg") {
    text-align: center;
  }  
}
.carousel-item__copy {
  @include font(41px, 45px);
  font-family: $bold-font;
  font-weight: 700;
  margin-bottom: 32px;

  @include media("<lg") {
    @include font(34px, 45px);
  }

  @include media("<md") {
    @include font(22px, 29px);
  }
}

.carousel-item__author-name {
  @include font(16px, 26px);
  font-weight: 700;
  display: block;
}
.carousel-item__author-title {
  @include font(13px, 26px);
}

$car-nav-button-size: 50px;
.carousel__nav {
  @extend %full-screen;

  @include media("<lg") {
  .carousel__nav-button--prev {
      left: -0.5 * $car-nav-button-size;
    }
    .carousel__nav-button--next {
      right: -0.5 * $car-nav-button-size;
    }
  }

  @include media("<md") {
    .carousel__nav-button {
      top: 100%;
      margin-top: -0.5 * $car-nav-button-size;
    }

    .carousel__nav-button--prev {
      left: $car-nav-button-size;
    }
    .carousel__nav-button--next {
      right: $car-nav-button-size;
    }
  }
}

.carousel__nav-button {
  pointer-events: auto;
  display: inline-block;
  position: absolute;
  border-radius: 100%;
  background: $col-septenary;
  width: $car-nav-button-size;
  height: $car-nav-button-size;
  top: 50%;
  margin-top: -0.5 * $car-nav-button-size;
  cursor: default;
  pointer-events: none;
  @include link-hover;
  @extend %shadow;

  &.clicked {
    transform: scale(0.9);
  }

  .icon {
    display: block;
    position: relative;
    top: 18%;
    left: 20%;
    width: 60%;
    height: 60%;

    svg {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .icon--active {
    position: absolute;
    z-index: 1;
    opacity: 0;
  }

  &.is-active {
    cursor: pointer;
    pointer-events: auto;

    .icon--active {
      opacity: 1;
    }
  }

}
.carousel__nav-button--prev {
  left: -0.5 * $car-nav-button-size;
}
.carousel__nav-button--next {
  right: -0.5 * $car-nav-button-size;
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .carousel__nav {
    position: relative;
    height: auto;
    width: 440px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .carousel {
    height: 80vw;
  }
}


// States
@include hover-state {
  .carousel__nav-button {
    .icon {
      @include link-hover(0.1s);
      @extend %transition-ease-out-quart;
    }

    .icon--active {
      @include link-hover;
    }

    &:hover {
      transform: scale(1.1);

      .icon {
        transform: scale(1.2);
      }
    }
    
    &:active {
      transform: scale(0.9);
    }
  }
}