/*
  COMPONENT / Close button
*/
.close-screen-button {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  margin: 30px auto 20px auto;
  cursor: pointer;

  .icon {
    &, svg {
      width: 100%;
      height: 100%;
    }
  }
}

@include hover-state {
  .close-screen-button {
    .icon {
      @include link-hover(0.3s);
    }

    &:hover {
      .icon {
        opacity: 0.5;
      }
    }
  }
}