.form__title
{
    margin: 1rem auto 3rem auto;

    text-align: left;
}

.form__callout
{
    padding: 1.5rem;

    border-radius: .4rem;
    background: darken($col-mid-blue, 10%);
}

.form__input
{
    width: 100%;
    margin-bottom: 2rem;

    opacity: .5;

    @include link-hover;

    &:focus
    {
        opacity: 1;
    }
}

.form__button
{
    margin: 2rem 0 1rem 0;
}
