/*
  COMPONENT / Hero container
*/
.hero-container {
  position: relative;
  height: 70vh;
  min-height: 400px;
  margin-bottom: $global-bottom-margin;
  @extend %flex-container;
  @extend .hero-container--primary;

  .heading--large:not(.no-override) {
    padding: 0 20px 32px 20px;
    border-bottom: 12px solid $col-septenary;
    margin: 0 auto;
    color: $col-quaternary;

    @include media("<lg") {
      border-width: 10px;
      padding: 0 10px 16px 10px;
    }

    @include media("<md") {
      border-width: 10px;
      padding: 0 6px 6px 6px;
    }
  }

  .close-screen-button {
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -30px;
    top: 0;
    z-index: 0;
  }

  .bubble--arrow-down {
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -21px;
    bottom: 0;
    margin-bottom: -21px;
  }
}

.hero-container--footer {
  height: 30vh;
  min-height: 200px;
  margin-bottom: 0;
}



/*
  * Generate hero container colour variations
*/
@each $item in $order {
  $colour-name: map-get($colours, $item);

  .hero-container--#{$item} {
    // background: $colour-name
    background: desaturate($colour-name, 20%);
  }
}