/*
  COMPONENT / Hero container
*/
.hero-container {
  position: relative;
  height: 70vh;
  margin-bottom: $global-bottom-margin;
  @extend %flex-container;
  background: desaturate(complement($col-primary), 50%);

  .heading--large:not(.no-override) {
    padding: 0 20px 32px 20px;
    border-bottom: 12px solid $col-senary;
    margin: 0 auto;
    color: $col-septenary;

    @include media("<lg") {
      border-width: 10px;
      padding: 0 10px 16px 10px;
    }

    @include media("<md") {
      border-width: 10px;
      padding: 0 6px 6px 6px;
    }
  }

  .close-screen-button {
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -30px;
    top: 0;
  }

  .bubble--arrow-down {
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -21px;
    bottom: 0;
    margin-bottom: -21px;
  }
}

.hero-container--secondary {
  background: desaturate(complement($col-secondary), 50%);
}

.hero-container--tertiary {
  background: desaturate(complement($col-tertiary), 50%);
}

.hero-container--footer {
  height: 40vh;
  margin-bottom: 0;
}