/*
  COMPONENT / Icon
*/

.icon {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 2rem;

  svg {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    top: -1px;
    line-height: 100%;
    vertical-align: middle;
    fill: currentColor;
    user-select: none;
  }

  g {
    fill: $col-quaternary;
  }
}


/*
  * Generate icon classes using the ordered latin list
*/
@each $item in $order {
  $colour-name: map-get($colours, $item);

  .icon--#{$item} {
    g {
      fill: $colour-name;
    }
  }
}


.icons-wrapper {
  &:not(:last-child) {
    margin-bottom: 60px;
  }

  .icon {
    margin-bottom: 20px;
  }

  .icon:not(:last-child) {
    margin-right: 20px;
  }
}

.icons {
  background: rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  padding: 32px 12px 12px 12px;
  @include clearfix;
}

.icons--light {
  background: rgba(0, 0, 0, 0.8);
}