/*
  COMPONENT / Link
*/
.link {}

.link--secondary {
  &,
  &:link,
  &:active,
  &:visited {
    color: $col-tertiary;
  }

  &:focus {
    color: lighten($col-tertiary, 10%);
  }
}

.more-link {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;

  .sprite {
    display: inline-block;
    transform: translateX(0);
    margin-left: -5px;
  }
}

.more-link--secondary {
  color: $col-tertiary;

  &:focus {
    color: lighten($col-tertiary, 10%);
  }
}


// Only do hover states on non-touch devices
html:not(.is-touch) {
  .link--secondary {
    &:hover {
      color: lighten($col-tertiary, 10%);
    }
  }

  .more-link {
    .sprite {
      @include link-hover;
      @extend %transition-ease-out-quart;
    }
    
    &:hover {
      color: $col-secondary;

      .sprite {
        transform: translateX(5px);
      }
    }
  }

  .more-link--secondary {
    &:hover {
      color: $col-tertiary;
    }
  }
}