$padding: 31px;

$mobi-menu-padding: 10px $padding + 40px 8px $padding + 40px;
$nested-mobi-menu-padding: 10px $padding * 2 + 40px 8px $padding + 40px * 2;
$mobi-menu-border: 1px solid rgba(255, 255, 255, 0.2);
$mobi-menu-header-height: 70px;




/*-- --*/
$menu-header-bg-color: darken($c-brand-purple, 5);
$menu-subheader-bg-color: $c-brand-purple;
$menu-type-color: $c-white;
$menu-active-type-color: $c-brand-yellow;

//**
// Menubar - mobi + desktop
//**
.menubar {
  position: relative;
  z-index: 99;
  width: 100%;
  top: 0;

  &:not(.menubar--transparent) {
    .menu {
      background: $menu-header-bg-color;
    }
    .submenu {
      background: $menu-subheader-bg-color;
    }
  }
}

.menubar--mobi {
  height: 100%;
  overflow: hidden;
  position: absolute;
}


//**
// Desktop menu
//**

.desktop-nav {}
.mobi-nav {}

.menu,
.submenu {
  position: relative;
  font-size: 18px;
  line-height: 1px;
  color: $menu-type-color;
  text-align: center;
  width: 100%;

  @include clearfix;
}

.menu {
  padding: 32px $padding;
}

.submenu {
  padding: 20px $padding;
  font-size: 16px;
}

.menu-items {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  position: relative;
  list-style: none;

  li {
    display: inline-block;
    position: relative;
    float: left;
    @include clearfix;
    line-height: 1;

    a {
      color: inherit;
      position: relative;
      display: block;
      vertical-align: middle;
      text-decoration: none;
    }

    &:not(:last-child) {
      margin-right: 24px;
    }

    &.is-active {
      color: $menu-active-type-color;
    }
  }
}

.menu__logo {
  position: absolute;
  left: $padding;
  margin-top: -8px;
  // z-index: 10;

  .logo,
  .logo-sym {
    position: relative;
    display: inline-block;
    height: auto;
    left: 0;
    height: 38px;
  }

  .logo-sym {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .menu__logo {
    .logo {
      display: none;
    }

    .logo-sym {
      display: inline-block;
    }
  }
}


//**
// Tablet and mobile menu
//**

// Local override to test the menu
html.is-menu-open {
  &, body {
    overflow: hidden;
    height: 100%;
  }
}

.mobi-menu {
  overflow: hidden;
  height: 100%;
  color: $menu-type-color;
  font-size: 20px;
  user-select: none;

  .menu__logo {
    margin-top: 0;

    .logo-sym {
      display: inline-block;
    }
  }
}

.mobi-menu__header {
  position: relative;
  height: $mobi-menu-header-height;
  background: $menu-header-bg-color;
  line-height: 1px;
  text-align: center;
  border-bottom: $mobi-menu-border;

  display: flex;
  align-items: center;
  justify-content: center;

  .burger,
  .menu__logo {
    position: relative;
  }
}

.mobi-menu__title {
  font-size: 18px;
  margin: 0 auto;
  width: 100%;

  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.mobi-menu__wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: $mobi-menu-header-height;
  @include touch-scroll;
  background: $menu-header-bg-color;

  &:after {
    display: block;
    content: "";
    position: relative;
    padding-bottom: $mobi-menu-header-height;
  }
}

.mobi-menu__items,
.mobi-submenu__items {
  display: inline-block;
  position: relative;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-size: 20px;
    margin: 0;
    position: relative;
  }
}


// Inception style menu group nesting
.mobi-menu__items {
  position: relative;

  li {
    position: relative;
  }

  a {
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
  }

  .mobi-menu__items {
    & > li {
      padding: $mobi-menu-padding;
      border-bottom: $mobi-menu-border;

      &:not(:first-child) {
        padding: $nested-mobi-menu-padding;

        display: none;
      }

      // Little arrow icon on the left from the item label
      &:first-child {
        cursor: pointer;

        &:before {
          position: absolute;
          display: block;
          content: '';
          width: 14px;
          height: 14px;
          margin-top: 8px;
          margin-left: $padding * -2.5;
          background: url('../images/arrow-down-menu.svg');

          transform: rotateZ(0deg);
          transform-origin: 50% 50%;
          transition-property: transform;
          transition-duration: 0.2s;
          transition-timing-function: ease-out;
        }
      }
    }

    &.is-toggled > li:first-child:before {
      
      transform: rotateZ(-180deg);
    }

     &.is-toggled > li:not(:first-child) {
      display: block;
     }
  }
}

// Use this class to mark menu items with a single item
.mobi-menu__single-item {
  padding: $mobi-menu-padding;
  border-bottom: $mobi-menu-border;
}



//**
// Burger
//**

$burger-piece-width: 32px;
$burger-piece-height: 3px;

.burger {
  position: absolute;
  right: $padding;
  display: inline-block;
  vertical-align: middle;

  button {
    position: relative;
    display: inline-block;
    top: -1px;
    width: $burger-piece-width;
    height: $burger-piece-width;
    vertical-align: middle;
    overflow: hidden;
  }

  .piece-of-burger {
    content: "";
    display: inline-block;
    position: absolute;
    width: $burger-piece-width;
    height: $burger-piece-height;
    margin: 0 auto;
    background: $menu-type-color;
    top: 50%;
    left: 0;
    margin-top: 0;
    
    transition-timing-function: ease-out;
    transform-origin: 50% 50%;

    &:nth-child(1) {
      margin-top: -3 * $burger-piece-height;
    }

    &:nth-child(3) {
      margin-top: 3 * $burger-piece-height;
    }

    &:nth-child(2) {
      opacity: 1;
      transform: translateX(0);
      transition-property: transform opacity;
      transition-duration: 0.1s;
    }

    &:nth-child(1),
    &:nth-child(3) {
      transform: rotateZ(0deg);
      transition-property: transform, background-color;
      transition-duration: 0.2s;
    }
  }
}

.is-menu-open {
  .burger {
    .piece-of-burger {
      &:nth-child(2) {
        opacity: 0;
        transform: translateX(-$burger-piece-width);
      }

      &:nth-child(1) {
        transform: rotateZ(45deg) translateY(2 * $burger-piece-height) translateX(2 * $burger-piece-height);
      }

      &:nth-child(3) {
        transform: rotateZ(-45deg) translateY(-2.333 * $burger-piece-height) translateX(2.333 * $burger-piece-height);
      }
    }
  }
}