rp-menu
  menu menu--handheld
  menu__header
    menu__branding
      menu__logo is--small
    
    menu__title
    menu__burger

  menu__body
    menu__list
      menu__item
      menu__item is-active
      menu__sublist
        menu__item
        menu__item is-active
      menu__sublist
        menu__item
        menu__item is-active

.rp-menu {
  position: relative;
  display: block;
  z-index: 99;
  width: 100%;
  top: 0;

  &.is-handheld {
    position: absolute;
    height: 100%;
    overflow: hidden;
  }
}

.menu {

}

.menu__branding {

}

/*
  Handheld menu
*/
.menu--handheld {
  .menu__header {

  }

  .menu__branding {

  }
}

.menu__header {

}