/*
  # RP (Responsive) Menu
  
  ## Author
  Rob Pataki [hello@robp.io]
  https://robp.io
  © 2017

  ## Objective
  Create a reusable responsive menu component, which is easy to configure and it doesn't have a huge footprint.

  ## Styling Rules
  1. Focus on modern browsers only (IE9+)
  2. Use BEM naming convention, but keep it simple (*)
  3. Use SMACCS style states (.is-active, .is-open) instead of BEM modifiers
  4. Isolate the component styling by nesting the BEM classes under .rp-menu
  5. Always start with the Desktop version of a block (you're developing on a PC/Mac right? It will make your life easier.)
  6. Elements nested within blocks change when a modifier is applied to the block (to avoid unnecessary element--modifier hell). Block with modifier is like a group of elements with different 'local' styles applied to elements.
  7. Using tag selectors and sensible nesting is not evil. There is nothing wrong with '.my-list li', or '.my-list > li > span'. By grouping our block and element styling under .rp-menu we can make sure we are not overriding anything and other styles won't affect our component either.
  8. Don't go too deep with nesting. More than 3 levels of nesting screams for a new block or element :)
*/

// Local variables
$rp-menu_side-padding: 20px;
$rp-menu_padding: 20px 60px;
$rp-menu_nested-padding: 20px 80px;

$rp-menu_header-height: 90px;
$rp-menu_header-handy-height: 70px;
$rp-menu_body-height: 58px;

$rp-menu_header-bg-color: darken($col-tertiary, 5%);
$rp-menu_body-bg-color: $col-tertiary;
$rp-menu_type-color: $col-septenary;
$rp-menu_active-type-color: $col-tertiary;

$rp-menu_border: 1px solid rgba(255, 255, 255, 0.2);

$rp-menu_burger-piece-width: 32px;
$rp-menu_burger-piece-height: 3px;

//===================================================


/* BLOCK */
.rp-menu {
  position: relative;
  width: 100%;
  z-index: 99;
  user-select: none;
  cursor: default;

  .menu {
    width: 100%;
    color: $rp-menu_type-color;
    font-family: $bold-font;
  }

  /* ELEMENT */
  .menu__header {
    position: relative;
    background: $rp-menu_header-bg-color;
    height: $rp-menu_header-height;
    padding: 0 $rp-menu_side-padding;
    display: flex;
    align-items: center;
  }

  .menu__body {
    background: $rp-menu_body-bg-color;
    padding: $rp-menu_padding;
    height: $rp-menu_body-height;

    display: flex;
    align-items: center;
  }

  .menu__list {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    list-style: none;
    @include clearfix;

    & > li {
      display: inline-block;
      position: relative;
      line-height: 1;
      float: left;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 24px;
      }
    }

    a {
      color: $col-septenary;
      text-decoration: none;
    }
  }

  .menu__single-link {
    padding: $rp-menu_padding;
    border-bottom: $rp-menu_border;
  }

  .menu__branding {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .menu__logo {
    position: absolute;
    height: 32px;
    top: 50%;
    margin-top: -16px;
  }

  .menu__title {
    font-size: 18px;
    margin: 0 auto;

    transition-property: opacity, transform;
    transition-duration: 0.2s;
    transition-timing-function: $ease-in-out-expo;
  }

  .menu__burger {
    position: static;
    display: inline-block;
    vertical-align: middle;

    .menu__burger-button {
      position: relative;
      display: inline-block;
      top: -1px;
      width: $rp-menu_burger-piece-width;
      height: $rp-menu_burger-piece-width;
      vertical-align: middle;
      overflow: hidden;
    }

    .menu__burger-line {
      content: "";
      display: inline-block;
      position: absolute;
      width: $rp-menu_burger-piece-width;
      height: $rp-menu_burger-piece-height;
      margin: 0 auto;
      background: $rp-menu_type-color;
      top: 50%;
      left: 0;
      margin-top: 0;
      
      transition-timing-function: $ease-in-out-expo;
      transform-origin: 50% 50%;

      &:nth-child(1) {
        margin-top: -3 * $rp-menu_burger-piece-height;
      }

      &:nth-child(3) {
        margin-top: 3 * $rp-menu_burger-piece-height;
      }

      &:nth-child(2) {
        opacity: 1;
        transform: translateX(0);
        transition-property: transform opacity;
        transition-duration: 0.2s;
      }

      &:nth-child(1),
      &:nth-child(3) {
        transform: rotateZ(0deg);
        transition-property: transform, background-color;
        transition-duration: 0.4s;
      }
    }
  }

/* MODIFIER */
  .menu--desktop {
    .menu__logo--small {
      display: none;
    }

    .menu__body {
      font-family: $semibold-font;
    }
  }

  .menu--handy {
    display: none;

    .menu__header {
      height: $rp-menu_header-handy-height;
      border-bottom: $rp-menu_border;
    }

    .menu__logo--small {
      position: relative;
      top: auto;
      margin-top: 0;
    }

    .menu__body {
      position: absolute;
      display: block;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      align-items: inherit;
      @include touch-scroll;
      background: $rp-menu_body-bg-color;
      top: $rp-menu_header-handy-height;

      // A little Firefox hack to show the bottom of .menu__body
      &:after {
        display: block;
        content: "";
        position: relative;
        padding-bottom: $rp-menu_header-handy-height;
      }
    }

    .menu__list {
      display: block;

      & > li {
        display: block;
        margin-right: 0;
        float: none;
        line-height: 100%;
        overflow: hidden;

        // Little arrow icon on the left from the item label
        &:not(.menu__single-link):first-child {
          cursor: pointer;

          &:before,
          &:after {
            position: absolute;
            display: block;
            content: '';
            width: 14px;
            height: 14px;
            margin-top: 3px;
            margin-left: -30px;
            background: url('../images/arrow-down-menu.svg');

            transform: rotateZ(0deg) translateY(0);
            transform-origin: 50% 50%;
            transition-property: transform, opacity;
            transition-duration: 0.6s;
            transition-timing-function: $ease-out-expo;
          }

          &:after {
            transform: rotateZ(180deg) translateY(-15px);
            margin-left: -29px;
            margin-top: -14px;
            opacity: 0;
          }
        }

        // Expand the hit area of the menu links
        a:after {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          content: '';
        }
      }

      // Grouped section links
      .menu__list > li {
        border-bottom: $rp-menu_border;

        &:first-child {
          padding: $rp-menu_padding;
        }

        &:not(:first-child) {
          padding: $rp-menu_nested-padding;
          font-family: $semibold-font;
          display: none;
        }
      }
    }
  }
}


/* STATES */
html.is-rp-menu-open {
  &, body {
    overflow: hidden;
    height: 100%;
  }

  .rp-menu {
    position: absolute;
    overflow: hidden;
    height: 100%;
    
    .menu__burger {
      .menu__burger-line {
        &:nth-child(2) {
          opacity: 0;
          transform: translateX(-$rp-menu_burger-piece-width);
        }

        &:nth-child(1) {
          transform: rotateZ(45deg) translateY(2 * $rp-menu_burger-piece-height) translateX(2 * $rp-menu_burger-piece-height);
        }

        &:nth-child(3) {
          transform: rotateZ(-45deg) translateY(-2.333 * $rp-menu_burger-piece-height) translateX(2.333 * $rp-menu_burger-piece-height);
        }
      }
    }

    .menu__title {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
}


.rp-menu {
  .menu__list > li.is-active {
    color: $rp-menu_active-type-color;
  }

  .menu--handy {
    .menu__list.is-toggled {
      & > li:first-child:before {
        transform: rotateZ(0deg) translateY(-15px);
        opacity: 0;
      }
      & > li:first-child:after {
        transform: rotateZ(180deg) translateY(0px);
        opacity: 1;
      }

      & > li:not(:first-child) {
        display: block;
      }
    }
  }
}


/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .rp-menu {
    .menu--desktop {
      .menu__logo--large {
        display: none;
      }

      .menu__logo--small {
        display: inline-block;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .rp-menu {
    .menu--desktop {
      display: none;
    }

    .menu--handy {
      display: block;
    }
  }
}
