/*
  COMPONENT / SVG Sprite
*/
.sprite {
  display: inline-block;

  svg {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    top: -1px;
    line-height: 100%;
    vertical-align: middle;
    fill: currentColor;
    user-select: none;
  }
}

.svg-sprites-wrapper {
  &:not(:last-child) {
    margin-bottom: 60px;
  }

  .sprite:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.svg-sprites {
  background: rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  padding: 24px 24px 4px 24px;
  @include clearfix;
}