/*
  COMPONENT / Video embed
*/
.video-embed {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background: lighten($col-senary, 50%);
  margin-bottom: $global-bottom-margin;

  iframe {
    @extend %full-screen;
  }
}