// Brand colours

/* Theme 0
$col-primary: #ED4C3C;
$col-secondary: #FFC500;
$col-tertiary: #008EEB;
*/

/* Theme 1
// https://coolors.co/75dddd-84c7d0-874996-9297c4-ff299c
$col-primary: #874996;
$col-secondary: #75DDDD;
$col-tertiary: #FF299C;
*/

/* Theme 2
// https://coolors.co/ed3434-380000-ff6060-2b1717-000000
$col-primary: #2B1717;
$col-secondary: #FF6060;
$col-tertiary: #ED3434;
*/

// https://coolors.co/40a0e0-40c8f0-40c080-f0b840-e04058
$col-primary: #E04058;
$col-secondary: #40C8F0;
$col-tertiary: #40C080;

$col-quaternary: #393536;
$col-quinary: #666666;
$col-senary: #ffffff;
$col-septenary: #000000;
$col-octonary: #ff5733;
$col-nonary: #c70039;

// Social app colours
$col-facebook-blue: #3b5998;
$col-twitter-blue: #55acee;
$col-linkedin-blue: #0077b5;
$col-instagram-purple: #6200b5;