// brand colours

 // theme 0
/* $col-primary: #ed4c3c;
$col-secondary: #ffc500;
$col-tertiary: #008eeb; */


/* theme 1
// https://coolors.co/75dddd-84c7d0-874996-9297c4-ff299c
$col-primary: #874996;
$col-secondary: #75dddd;
$col-tertiary: #ff299c;
*/

/* theme 2
// https://coolors.co/ed3434-380000-ff6060-2b1717-000000
$col-primary: #2b1717;
$col-secondary: #ff6060;
$col-tertiary: #ed3434;
*/

// theme 2
// https://coolors.co/40a0e0-40c8f0-40c080-f0b840-e04058
$col-primary: #e04058;
$col-secondary: #40c8f0;
$col-tertiary: #40c080;

$col-quaternary: #393536;
$col-quinary: #666666;
$col-senary: #ffffff;
$col-septenary: #000000;
$col-octonary: #ff5733;
$col-nonary: #c70039;

// social app colours
$col-facebook-blue: #3b5998;
$col-twitter-blue: #55acee;
$col-linkedin-blue: #0077b5;
$col-instagram-purple: #6200b5;
$col-google-plus-red: #dc4a38;