%hitarea {
  display: block;

  content: '';
  cursor: pointer;
  pointer-events: auto;

  background: transparent;

  @extend %full-screen;
}

%shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

%cover-image {
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  object-fit: cover;
}

%inline-list {
  display: inline-block;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-size: 0; // Get rid of the ugly space after inline elements
  @include clearfix;
}

%inline-list-item {
  display: inline-block;
  float: left;
  font-size: 16px;
}

%no-select {
  user-select: none;
}

%flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-columns {
  flex-direction: column;
}

%flex-item {
  flex: 0 1 auto;
  align-self: auto;
}

%full-screen {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}