//
// Miscellanious utils
//

.no-padding {
  padding: 0 !important;
}

.no-side-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.center {
  text-align: center;
}

.fixed {
  position: fixed;
}

.reset-list {
  display: block;
  margin: 0 auto 16px auto;
  padding: 0;
  list-style: none;

  li {
    padding: 0;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.fit-width {
  display: block;
  width: 100%;
  max-width: 100% !important;
}

@include hover-state {
  .fade-on-hover {
    @include link-hover;

    &:hover {
      opacity: 0.7;
    }
  }
}
