$global-bottom-margin: 32px;
$copy-padding-left: 18px;
$global-radius: 12px;

$order: ("primary", "secondary", "tertiary", "quaternary", "quinary", "senary", "septenary", "octonary", "nonary", "denary");