// Brand colours
/* $col-primary: #581845;
$col-secondary: #900c3f;
$col-tertiary: #ffc300; */

$col-primary: #ED4C3C;
$col-secondary: #FFC500;
$col-tertiary: #008EEB;

$col-quaternary: #393536;
$col-quinary: #666666;
$col-senary: #ffffff;
$col-septenary: #000000;
$col-octonary: #ff5733;
$col-nonary: #c70039;

// Social app colours
$col-facebook-blue: #3b5998;
$col-twitter-blue: #55acee;
$col-linkedin-blue: #0077b5;
$col-instagram-purple: #6200b5;