// Colours
$col-white: #fff;
$col-mid-blue: #0074a6;
$col-dark-blue: #173753;

$col-light-grey: #EFEFEF;
$col-mid-grey: #666666;

// ---
$c-white: #ffffff;
$c-brand-purple: #581845;
$c-brand-burgundy: #900c3f;
$c-brand-red: #c70039;
$c-brand-orange: #ff5733;
$c-brand-yellow: #ffc300;