//**
// Font settings
//**
@include font-face("Open Sans", "../fonts/OpenSans-Regular", $file-formats: eot woff2 woff);
@include font-face("Open Sans Bold", "../fonts/OpenSans-Bold", bold, $file-formats: eot woff2 woff);
@include font-face("Open Sans Semibold", "../fonts/OpenSans-Semibold", bold, $file-formats: eot woff2 woff);

$regular-font: 'Open Sans', Verdana, sans-serif;
$semibold-font: 'Open Sans Semibold', Verdana, sans-serif;
$bold-font: 'Open Sans Bold', Verdana, sans-serif;
