//
// Grid settings
//

.row--content {
  margin-top: 100px;
  margin-bottom: 100px;
}

.visible-grid {
  .row {
    background: rgba(0, 255, 255, 0.05);
  }

  .coll {
    background: rgba(255, 255, 0, 0.2);
    background: rgba(0, 255, 255, 0.1);
    border: 1px dotted $col-quinary;


    .coll {
      background: rgba(0, 255, 255, 0.1);
      border: 1px dotted $col-quinary;
    }
  }
}

// Remove gutters and extra padding from the grid
.container,
.coll {
  // @extend .no-side-padding;
}
.coll {
  display: block;
  width: 100%;
}
.row {
  // @extend .no-gutters;
}

.container {
  @include media("<=md") {
    width: 100%;
    max-width: 100%;
  }
}

