/* Changing Susy default global settings */
$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  /* Tells Susy that the container has a max-width of 1120px */
  container: 120rem,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box,
  /* Setting the gutter position to be within the column */
  gutter-position: inside,
);

// $total-columns: 12; // 10 columns
// $column-width: 4rem; // columns are 4em wide
// $gutter-width: 1rem; // with 1em gutters
// $grid-padding: 1rem; // and 1em padding on the grid container

.l-page
{
    @include container;
}

.l-content
{
    margin-left: span(4 of 12) + gutter(4);

    @include span(4 of 12);
}
