/* 
  PAGE / Generic
*/
.page-contents {}

/* 
  PAGE / Demo
*/
.page--demo {
  .page-contents {
    padding-top: 150px; 
  }

  .article {
    padding-top: 90px;
    padding-bottom: 30px;
  }

  .heading:not(.no-override) {
    color: $col-brand-secondary;
    display: inline-block;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 8px solid $col-brand-tertiary;
    margin-bottom: 90px;

    @include media("<md") {
      @include font(24px, 30px);
      border-bottom: 6px solid $col-brand-tertiary;
    }
  }
  
  .heading--large:not(.no-override) {
    color: $col-brand-secondary;
    padding-bottom: 20px;
    border-bottom: 12px solid $col-brand-tertiary;

    @include media("<md") {
      border-bottom: 8px solid $col-brand-tertiary;
    }
  }

  .subheading {
    @include font(18px, 24px);
    margin-bottom: 24px;

    &:not(.no-override) {
      display: inline-block;
      padding: 0 6px 2px 6px;
      border-bottom: 3px solid lighten($col-dark-grey, 20%);
    }
  }

  section {
    margin-bottom: 60px;

    &:not(:last-child) {
      margin-bottom: 120px;
    }
  }

  .col {
    @extend .center;
  }
}