/* 
  PAGE / Generic
*/
.page-contents {}

/* 
  PAGE / Index - Home
*/
.page--index {
  .page-contents {
    @extend %full-screen;
    @extend %flex-container;
    @extend %flex-columns;
  }
}

/* 
  PAGE / Demo
*/
.page--demo {
  .page-contents {
    padding-top: 60px;
  }

  .article {
    padding-top: 90px;
    padding-bottom: 30px;
  }

  .heading:not(.no-override) {
    display: inline-block;
    padding: 0 10px 10px 10px;
    color: $col-quinary;
    border-bottom: 12px solid $col-senary;
    margin-bottom: 30px;

    @include media("<md") {
      @include font(24px, 30px);
      border-width: 6px;
    }
  }

  .subheading {
    @include font(18px, 24px);
    margin-bottom: 24px;

    &:not(.no-override) {
      display: inline-block;
      padding: 0 6px 2px 6px;
      border-bottom: 3px solid lighten($col-quinary, 20%);
    }
  }

  .button,
  .tab {
    @include media("<md") {
      width: 100%;
    }
  }

  section {
    margin-bottom: 60px;

    margin-bottom: 120px;
  }

  hr + .showroom {
    padding-top: 90px;
  }

  .showroom {
    .showroom-row {
      margin-bottom: 20px;

      .coll {
        margin-bottom: 15px;
      }
    }

    .push-down {
      margin-top: 50px;

      @include media("<md") {
        margin-top: 0;
      }
    }

    .showroom-demo {
      .subtitle {
        margin-bottom: 30px;
      }
    }
  }
}

/* 
  PAGE / Demo Home
*/
.page--demo-index {
  .page-contents {
    @extend %full-screen;
    @extend %flex-container;
    @extend %flex-columns;

    padding-top: 0;
  }
}

/* 
  PAGE / Grid Demo
*/
.page--grid {
  .coll {
    padding-top: 2rem;
    padding-bottom: 2rem;
    @extend .center;
  }
}

/* 
  PAGE / SVG Sprites
*/
.page--svg-sprites {
  .svg-sprites {
    padding: 24px 24px 4px 24px;
  }
}