/* 
  PAGE / Generic
*/
.page-contents {}

/* 
  PAGE / Demo
*/
.page--demo {
  .page-contents {
    padding-top: 90px; 
  }

  .article {
    padding-top: 90px;
    padding-bottom: 30px;
  }

  .hero-container {
    height: 70vh;
    @extend %flex-container;
    background: $col-primary;
  }

  .heading:not(.no-override) {
    display: inline-block;
    padding: 0 10px 10px 10px;
    color: $col-quaternary;
    border-bottom: 12px solid $col-quinary;
    margin-bottom: 90px;

    @include media("<md") {
      @include font(24px, 30px);
      border-bottom: 6px solid $col-quinary;
    }
  }
  
  .heading--large:not(.no-override) {
    padding: 0 20px 32px 20px;
    border-bottom: 12px solid $col-tertiary;
    margin: 0 auto;
    color: $col-senary;

    @include media("<lg") {
      border-bottom: 10px solid $col-tertiary;
      padding: 0 10px 16px 10px;
    }

    @include media("<md") {
      border-bottom: 6px solid $col-tertiary;
      padding: 0 6px 6px 6px;
    }
  }

  .subheading {
    @include font(18px, 24px);
    margin-bottom: 24px;

    &:not(.no-override) {
      display: inline-block;
      padding: 0 6px 2px 6px;
      border-bottom: 3px solid lighten($col-quaternary, 20%);
    }
  }

  .button,
  .tab {
    @include media("<=md") {
      width: 100%;
    }
  }

  section {
    margin-bottom: 60px;

    &:not(:last-child) {
      margin-bottom: 120px;
    }
  }

  .showroom {
    .showroom-row {
      margin-bottom: 20px;

      .col {
        margin-bottom: 15px;
      }
    }
  }
}

/* 
  PAGE / Grid Demo
*/
.page--grid {
  .col {
    @extend .center;
  }
}