/*
  COMPONENT / Typography
*/
%heading-base {
  display: block;
  font-family: $bold-font;
  color: $col-quaternary;
  font-weight: 700;
  margin-bottom: 50px;
  @include font(40px, 45px);
}

.heading {
  @extend %heading-base;

  @include media(">=md", "<lg") {
    @include font(30px, 40px);
  }

  @include media("<md") {
    @include font(24px, 30px);
    margin-bottom: 20px;
  }
}

.heading--large {
  @extend %heading-base;
  
  margin-top: 48px;
  @include font(66px, 60px);

  @include media(">=md", "<lg") {
    @include font(42px, 45px);
    margin-bottom: 30px;
    margin-top: 60px;
  }

  @include media("<md") {
    @include font(35px, 35px);
    margin-bottom: 30px;
    margin-top: 45px;
  }
}

.heading--section {
  @extend %heading-base;

  @include media("<md") {
    @include font(24px, 30px);
    margin-bottom: 30px;
  }
}

.headline {
  // @include font(20px, 30px);
  font-size: 110%;
  line-height: 160%;

  margin-top: 40px;
  margin-bottom: 40px;
  color: $col-primary;

  @include media("<lg") {
    // @include font(16px, 30px);
  }

  @include media(">=md", "<lg") {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  @include media("<md") {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.subheading {
  font-family: $bold-font;
  color: $col-quinary;
  margin-bottom: 30px;

  @include font(24px, 30px);
}

.subtitle {
  font-family: $semibold-font;
  color: $col-tertiary;
  margin-bottom: 16px;

  @include font(16px, 16px);
}
.subtitle--sub {
  color: $col-quinary;
}


.list {
  padding-left: $copy-padding-left;

  @include media("<lg") {
      span {
      margin-left: 12px;
    }
  }

  @include media("<md") {
      span {
      margin-left: 0;
    }
  }
}

.list--highlighted {
  color: $col-tertiary;
}