{% macro sprite(id, viewBox, classes) %}
  {% set viewBox = viewBox or "0 0 1 1" %}
  <span class='sprite -{{id}} {{classes}}'>
    <svg viewBox="{{viewBox}}"><use xlink:href='{{ doc_root }}/images/icons.svg#{{id}}'></use></svg>
  </span>
{% endmacro %}

{% macro heroContainer(colourClass, title) %}
  <div class="hero-container hero-container--{{colourClass}}">
      <a href="index.html" class="close-screen-button">
        <span class="icon icon--quaternary">
          {% include 'shared/icons/icon__cross.svg.html' %}
        </span>
      </a>

      <h1 class="heading heading--large">{{ title }}</h1>
      
      <button class="bubble bubble--arrow-down ws-trigger" data-ws-el="page-contents">
        <span class="icon icon--quaternary">
          {% include 'shared/icons/icon__button-down.svg.html' %}
        </span>
      </button>
    </div>
{% endmacro %}

{% macro heroContainerFooter(colourClass, wsEl) %}
  {% set colourClass = colourClass or "primary" %}
  {% set wsEl = wsEl or "page" %}
  <div class="hero-container hero-container--{{colourClass}} hero-container--footer">
      <div class="row">
        <div class="col">          
          <button class="bubble bubble--arrow-up ws-trigger" data-ws-el="{{ wsEl }}">
            <span class="icon icon--quaternary">
              {% include 'shared/icons/icon__button-up.svg.html' %}
            </span>
          </button>
        </div>
      </div>
    </div>
{% endmacro %}
