<!doctype html>
<html class="">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ site_meta.title }}{% endblock %}</title>
    <meta name="description" content="{{ site_meta.description }}" />

    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "shared/app-icons.html" %}

    {% include "shared/facebook-meta.html" %}
    {% include "shared/twitter-meta.html" %}
  </head>
  <body>
    {% block content %}{% endblock %}
    
    {% include "shared/scripts.html" %}
  </body>
</html>
